openapi: 3.0.0
# XBRL API
servers:
  - description: Running this application XBRL US server
    url: 'https://api.xbrl.us/'
info:
  version: "V1"
  title: XBRL API 
  description: |
    #### [Skip to interactive documentation for objects](https://xbrlus.github.io/xbrl-api/#/oauth2) 
    
    ## Introduction
    The xbrlapi.yaml file noted above defines the free XBRL API used to retrieve data from the [XBRL US Database of Public filings](https://xbrl.us/filings-database). The XBRL API can also work with any database that conforms to the [XBRL 2.1 Specification](https://specifications.xbrl.org/work-product-index-group-base-spec-base-spec.html).

    The documentation below describes how to use the XBRL API. To use this page interactively, [generate a client ID and secret](https://xbrl.us/access-token) for your XBRL US Web account. 

    The purpose of the XBRL API is to provide a unified interface to stored XBRL data which any data utility can adopt. This unified interface allows developers with limited XBRL knowledge to learn a single interface to access many data repositories. This expands access to the market for available data, while also encouraging the use of fundamental structured data.

    ### Structure and Syntax
    The API is structured to allow the return of XBRL details as objects, which are used to classify XBRL data. These objects generally fall into two categories: **facts and data taxonomy**. Each object has multiple properties that can be used to define the query. Some are shared and others are unique to the object. **Objects can also be nested** allowing specific information about the main object to be retrieved.

    Each object has properties that can be accessed by requesting them from the XBRL API. The property of the object is defined using a dot notation (ie. `object.property`). For example, to return the __value__ of the fact, use `fact.value`. While many of these properties can also be used to search for data, **not all properties of the object are searchable** and some properties may be defined as components of other objects and are inherited from these objects.

    #### Object Search
    The `search` keyword is used as an endpoint in many URIs. This indicates to the API that you will be searching on one or more properties of the object. A search can be performed on one object at a time, and is based on the first object that appears in the URI. 
    
    For example, in the following uri, `entity.cik` is the search property with the report object:

    `/api/v1/report/search?entity.cik=0001493040&fields=report.*`

    Multiple parameters can be included in a search and are separated by ampersands (&). In the case below, the API will return `fact.value` data for a given CIK for Assets for 2017 in the first quarter:

    `/api/v1/fact/search?concept.local-name=Assets&period.fiscal-year=2017&period.fiscal.period=1Q&Entity.cik=0000001&fields=fact.value`

    It is not possible to search on a property that is not a component of the object. In the example above, the endpoint is referencing the fact object (fact appears after v1) so a user must search on a valid fact property.
    
    **Nested objects** allow you to pull sub-object information from the main object. Sub-objects that can be used are dependent on the main object. For example, facts can be returned for specific reports, and relationships can be returned for specific networks.

    In addition to accessing data through a specific object, **returned data can be managed by defining the properties of the data to be returned** and attributes of the properties:
    -  what details about the data should be returned - `fields`; 
    -  how many records should be returned - `limit`;
    -  what order should the records be returned in - `sort`, and; 
    -  from what starting position within the sequence of records should the data be returned - `offset`.

    #### Fields
    The `fields` query parameter establishes the details of the data to return for the specific query. Each field requested is separated using a comma without white space. The order of the fields returned is based on the position in the fields string.  Using the * as a wildcard on the object in the fields to return (ie. fact.*) will return all available properties of the object, and should only be used for testing, as it can slow a query considerably.

    #### Limit 
    A `limit` restricts the number of results returned by the query. **The limit attribute can only be added to an object type and not a property.** For example, to limit the number of reports in a query, the limit property is added to the fields to return as follows: `report.limit(10)`.

    #### Sort 
    Any returned value can be sorted in ascending or descending order, by adding an additional attribute to a field value (ie. `report.document-type.sort(DESC)`). **Multiple sort criteria can be defined** and the sort sequence is determined by the order defined in the fields parameter. 

    #### Offset
    The 'offset' attribute enables targeting a return to a specific starting point in a query return sequence (ie. `report.offset(120)`).  To work reliably, __at least one__ sorted property should be included in the returned fields.
      
    In the following example, the 10 reports returned starting with the 120th report for the search query would be sorted alpha-numerically in descending order first by document type and then by timestamp:

    `fields=report.limit(10),report.document-type.sort(DESC),report.accepted-timestamp.sort(DESC),report.offset(120)`

    ### Authorization Flow

    We use [OAuth2 JWT](https://jwt.io/) flows to secure interactions. Below are **CURL** examples for typical **XBRL API** flows to request, return and use a token, which is required to process queries. The XBRL API is sessionless, so each "session" always begins with the [OAuth2 JWT Access Token Flow](https://jwt.io/introduction).

    #### Access Token Flow

    This flow shows the steps required to interact with the API

    1. Send an HTTP `POST` request to the tokenUrl: `/oauth2/token`:
      ```http
      POST /oauth2/token HTTP/1.1 
      Host: <api.xbrl.us> 
      Content-Type: application/x-www-form-urlencoded 
      Body: {
        "grant_type": password,
        "client_id": "XBRL US Client",
        "client_secret": "client secret",
        "username": "username",
        "password": "password",
        "platform": pc
      }
      ```
    2. Upon a successful authorization grant, the server will respond with an `access_token`:
      ```http
      HTTP/1.1 200 OK
      Request URL: <example.com>/oauth2/token
      Date: <EEE, dd MMM yyyy HH:mm:ss z>
      Content-Length: 500
      Body: {
        "platform": "pc",
        "access_token": "eyJ...124nOvc",
        "refresh_token": "eyJ...124nOvc",
        "expires_in" : 3600,
        "refresh_token_expires_in": 10800,
        "token_type": "bearer"
      }
      ```
    3. Add a new `Authorization` header with type `Bearer` and the contents of the above `access_token`
      ```http
      GET </some/route> HTTP/1.1
      Host: <api.xbrl.us> 
      Authorization: Bearer yJ...124nOvc
      Content-Type: application/json; charset=utf-8 
      Body: <...>
      ```    
    **Once an access_token has been acquired, it can be used on all queries with an account until it returns a 401.** If this occurs, simply request a new token using existing `client_id`, `client_secret`, `refresh_token` and `platform` values, and set `grant_type` to **refresh_token**. 
  contact:
    name: XBRL US
    email: support@xbrl.us
tags:
  - name: oauth2
    description: " -- acquire authorization, receive tokens, and check tokens"
  - name: Facts
    description: " -- return XBRL facts and metadata contained in a report"
  - name: Reports
    description: " -- get details about XBRL reports"
  - name: Entity
    description: " -- get details about entities making XBRL filings"
  - name: Assertions
    description: " -- return error information about XBRL facts and reports in filings"
  - name: DTS
    description: " -- get details information about the discoverable taxonomy set (taxonomy)"
  - name: Concepts
    description: " -- get information about XBRL concepts in a taxonomy"
  - name: Labels
    description: " -- return metadata associated with a concept and a DTS identifier"
  - name: Networks
    description: " -- return network information about concepts and/or relationships in a dts"
  - name: Relationships
    description: " -- get relationship information associated with a network and/or DTS identifier"
  - name: Documents
    description: " -- request document information associated with a DTS or report"
    
security:
  - oauth2: [ROLE_CLIENT, ROLE_USER]
paths:
  /oauth2/token:
    summary: Aquire an access token by fulfilling a client_credentials grant, or a password grant.
    post:
      operationId: tokenUrl
      tags: [oauth2]
      security: []
      description: >
        Assuming a valid login exists, this route allows a trusted client to aquire an access token for itself, or to request an access token for a specific user. **You may send both `client_credentials` grants and `password` grants via the following**: 
         * **application/x-www-form-urlencoded**


        **[Read more](https://oauth.net/2/grant-types/)**
      requestBody:
        content:
          # application/json:
          #   schema:
          #     $ref: '#/components/schemas/authorization_grant'
          #   example:
          #     grant_type: password
          #     client_id: 1223
          #     client_secret: xhOEnAX2M...gaIYLXOvCe25Q
          #     username: Your_XBRL_US_Web_Account_email@domain.com
          #     password: someSecurePassword
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authorization_grant'
          # multipart/form-data:
          #   schema:
          #     $ref: '#/components/schemas/authorization_grant'
      responses:
        '200':
          description: > 
            The authorization grant has been validated, and an access token is granted. **[Read more](https://jwt.io/introduction/)**
          content:
            application/json:
              schema:
                type: object
                properties:
                  platform :
                    type: string
                    example: pc
                  access_token:
                    type: string
                    format: byte
                    example: eyJ...124nOvc
                    description: A JWT access token. **[Read more](https://jwt.io/)**
                  refresh_token:
                    type: string
                    format: byte
                    example: eyJ...124nOvc
                    description: A JWT access token. **[Read more](https://jwt.io/)**
                  expires_in:
                    type: integer
                    example: 3600
                  refresh_token_expires_in:
                    type: integer
                    example: 3600
                  token_type:
                    type: string
                    example: bearer
                    description: >
                      _The token_type will always be bearer._ The access_token is considered a bearer token, and thus should be placed in all subsequent requests to the resource endpoints by using the following header:
                        * Authorization: Bearer [token]
          # -----------------------------------------------------
          # Links
          # -----------------------------------------------------
          links:
            bearerAuth:   # <---- arbitrary name for the link
              operationId: tokenUrl
              parameters:
                bearerAuth: '$response.body#access_token'
              description: >
                The `access_token` value returned in the response can be used as
                the `bearer token`.
          # -----------------------------------------------------
                  
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
  /api/v1/fact/search:
    summary: Request facts from XBRL filings based on search parameters.
    get:
      operationId: getFactDetails
      tags: [Facts]
      security:
        - OAuth2: []
        - bearerAuth: []
      description: > 
          Search for _XBRL facts_ based on the attributes of the fact, the report it was in, or the source of the data.  
          
          ## Examples
          
          ### _-Get all the facts in a document_
          
          
          The following call will: get all facts in the report with an id of `226471`; limit the number of records returned to `1010` facts; sort facts `A-Z by the concept name`, and; return the following values:
            * entity.name
            * dimensions.count
            * dimensions
            * entity.cik
            * period.fiscal-period
            * period.end
            * period.instant
            * period.year
            * concept.local-name.sort(ASC)
            * fact.numerical-value,fact.limit(1010)
            * fact.value,report.source-id
            * footnote.text
            * footnote.role
          
                  https://api.xbrl.us/api/v1/fact/search?report.id=226471&fields=entity.name,dimensions.count,dimensions,entity.cik,period.fiscal-period,period.end,period.instant,period.year,concept.local-name.sort(ASC),fact.numerical-value,fact.limit(1010),fact.value,report.source-id,footnote.text,footnote.role
            
  
          ### _-Get Operating Cash used by Pharma for the 2017 year_
          
          The following call will get all facts reported for the 2017 year using the concept  `NetCashProvidedByUsedInOperatingActivities` reported for the sic code  `3841` which have no dimensions. It also limits the records returned to `100` facts and will return the following values:
            
            * fact.numerical-value
            * period.fiscal-year
            * period.fiscal-period
            
                  https://api.xbrl.us/api/v1/fact/search?period.fiscal-period=Y&fact.ultimus=true&report.sic-code=3841&concept.local-name=NetCashProvidedByUsedInOperatingActivities&period.fiscal-year=2017&dimensions.count=0&fields=fact.numerical-value,period.fiscal-year,period.fiscal-period,fact.limit(100)
          
              
          
      parameters: 
        - $ref: '#/components/parameters/concept.id_Param' 
        - $ref: '#/components/parameters/concept.is-base_Param'
        - $ref: '#/components/parameters/concept.is-monetary_Param'
        - $ref: '#/components/parameters/concept.local-name_Param'
        - $ref: '#/components/parameters/concept.namespace_Param'
        - $ref: '#/components/parameters/dimension.is-base_Param'
        - $ref: '#/components/parameters/dimension.local-name_Param'
        - $ref: '#/components/parameters/dimension.namespace_Param'
        - $ref: '#/components/parameters/dimensions.count_Param'
        - $ref: '#/components/parameters/dimensions.id_Param'
        - $ref: '#/components/parameters/dts.entry-point_Param'
        - $ref: '#/components/parameters/dts.id_Param'
        - $ref: '#/components/parameters/dts.target-namespace_Param'
        - $ref: '#/components/parameters/entity.cik_Param'
        - $ref: '#/components/parameters/entity.id_Param'
        - $ref: '#/components/parameters/fact.has-dimensions_Param'
        - $ref: '#/components/parameters/fact.hash_Param'
        - $ref: '#/components/parameters/fact.id_Param'
        - $ref: '#/components/parameters/fact.is-extended_Param'
        - $ref: '#/components/parameters/fact.text-search_Param'
        - $ref: '#/components/parameters/fact.ultimus_Param'
        - $ref: '#/components/parameters/fact.ultimus-index_Param'
        - $ref: '#/components/parameters/fact.value_Param'
        - $ref: '#/components/parameters/fact.value-link_Param'
        - $ref: '#/components/parameters/member.is-base_Param'
        - $ref: '#/components/parameters/member.local-name_Param'
        - $ref: '#/components/parameters/member.typed-value_Param'
        - $ref: '#/components/parameters/member.member-value_Param'
        - $ref: '#/components/parameters/member.namespace_Param'
        - $ref: '#/components/parameters/period.calendar-period_Param'
        - $ref: '#/components/parameters/period.fiscal-id_Param'
        - $ref: '#/components/parameters/period.fiscal-period_Param'
        - $ref: '#/components/parameters/period.fiscal-year_Param'
        - $ref: '#/components/parameters/period.id_Param'
        - $ref: '#/components/parameters/period.year_Param'
        - $ref: '#/components/parameters/report.accession_Param'
        - $ref: '#/components/parameters/report.creation-software_Param'
        - $ref: '#/components/parameters/report.document-type_Param'
        - $ref: '#/components/parameters/report.entry-url_Param'
        - $ref: '#/components/parameters/report.id_Param'
        - $ref: '#/components/parameters/report.restated_Param'
        - $ref: '#/components/parameters/report.restated-index_Param'
        - $ref: '#/components/parameters/report.sec-url_Param'
        - $ref: '#/components/parameters/report.sic-code_Param'
        - $ref: '#/components/parameters/report.source-id_Param'
        - $ref: '#/components/parameters/report.source-name_Param'
        - $ref: '#/components/parameters/unit_Param'
        - in: query
          name: fields
          required: true
          style: form
          explode: false
          allowEmptyValue : false
          schema:
            $ref: '#/components/schemas/fact_fields'
          description: This is the list of fields that can be returned for _XBRL facts_.
          
        # - in: query
        #   name: aspect
        #   # Wrap 'schema' into 'content.<media-type>'
        #   content:
        #     application/json:  # <---- media type indicates how to serialize / deserialize the parameter content
        #       schema:
        #         type: object
        #         properties:
        #           dimension:
        #            type: string
        #           member:
        #            type: string
          
      responses:
        '200':
          description: __fact details__ successfully accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/paging'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/fact_details'
          # -----------------------------------------------------
          # Links
          # -----------------------------------------------------
          links:
            GetfactId:   # <---- arbitrary name for the link
              operationId: getFactBasedOnFactID
              parameters:
                fact.id: '$response.body#/data/fact.id'
              description: >
                The `fact.id` value returned in the response can be used as
                the `factId` parameter in `/api/v1/fact/{fact.id}`.
          # -----------------------------------------------------
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/bad_token'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
          
  /api/v1/fact/{fact.id}:
    summary: Request fact detail from an XBRL filing based on its unique identifier. The fact ID is an internal ID used by the API.
    get:
      operationId: getFactBasedOnFactID
      tags: [Facts]
      security:
        - OAuth2: []
        - bearerAuth: []
      description: >
       Search for _XBRL facts_ based on the fact.id attribute of the fact.
      parameters:
        - $ref: '#/components/parameters/fact.text-search_Param'
        - name: fact.id
          in: path
          description: ID of the fact defined by the API.
          required: true
          schema:
            type: integer
        - in: query
          name: fields
          required: true
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/fact_fields'
          description: This is the list of fields that can be returned for _XBRL facts_.  
      responses:
        '200':
          description: __fact details__ successfully accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/paging'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/fact_details'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/bad_token'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
  /api/v1/fact/oim/search:
    summary: Request facts from XBRL filings based on search parameters.
    get:
      operationId: getFactDetailsInOIMFormat
      tags: [Facts]
      security:
        - bearerAuth: []
      description: >
        Returns _XBRL facts_ detail in the OIM JSON format.
      parameters: 
        - $ref: '#/components/parameters/concept.id_Param' 
        - $ref: '#/components/parameters/concept.is-base_Param'
        - $ref: '#/components/parameters/concept.is-monetary_Param'
        - $ref: '#/components/parameters/concept.local-name_Param'
        - $ref: '#/components/parameters/concept.namespace_Param'
        - $ref: '#/components/parameters/dimension.is-base_Param'
        - $ref: '#/components/parameters/dimension.local-name_Param'
        - $ref: '#/components/parameters/dimension.namespace_Param'
        - $ref: '#/components/parameters/dimensions.count_Param'
        - $ref: '#/components/parameters/dimensions.id_Param'
        - $ref: '#/components/parameters/dts.entry-point_Param'
        - $ref: '#/components/parameters/dts.id_Param'
        - $ref: '#/components/parameters/dts.target-namespace_Param'
        - $ref: '#/components/parameters/entity.cik_Param'
        - $ref: '#/components/parameters/entity.id_Param'
        - $ref: '#/components/parameters/fact.has-dimensions_Param'
        - $ref: '#/components/parameters/fact.hash_Param'
        - $ref: '#/components/parameters/fact.id_Param'
        - $ref: '#/components/parameters/fact.is-extended_Param'
        - $ref: '#/components/parameters/fact.ultimus_Param'
        - $ref: '#/components/parameters/fact.ultimus-index_Param'
        - $ref: '#/components/parameters/fact.value_Param'
        - $ref: '#/components/parameters/member.is-base_Param'
        - $ref: '#/components/parameters/member.local-name_Param'
        - $ref: '#/components/parameters/member.typed-value_Param'
        - $ref: '#/components/parameters/member.member-value_Param'
        - $ref: '#/components/parameters/member.namespace_Param'
        - $ref: '#/components/parameters/period.calendar-period_Param'
        - $ref: '#/components/parameters/period.fiscal-id_Param'
        - $ref: '#/components/parameters/period.fiscal-period_Param'
        - $ref: '#/components/parameters/period.fiscal-year_Param'
        - $ref: '#/components/parameters/period.id_Param'
        - $ref: '#/components/parameters/period.year_Param'
        - $ref: '#/components/parameters/report.accession_Param'
        - $ref: '#/components/parameters/report.creation-software_Param'
        - $ref: '#/components/parameters/report.entry-url_Param'
        - $ref: '#/components/parameters/report.id_Param'
        - $ref: '#/components/parameters/report.restated_Param'
        - $ref: '#/components/parameters/report.restated-index_Param'
        - $ref: '#/components/parameters/report.sec-url_Param'
        - $ref: '#/components/parameters/report.sic-code_Param'
        - $ref: '#/components/parameters/report.source-id_Param'
        - $ref: '#/components/parameters/report.source-name_Param'
        - $ref: '#/components/parameters/unit_Param'
        
      responses:
        '200':
          description: __fact details__ successfully accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  documentInfo:
                    $ref: '#/components/schemas/documentInfo_oim_json'
                  facts:
                      $ref: '#/components/schemas/facts_oim_json'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/bad_token'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
  /api/v1/report/search:
      summary: Request report details from XBRL filings based on search parameters.
      get:
        operationId: getReportDetails
        tags: [Reports]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Return details for _XBRL reports_ based on the attributes of the report(s).
        parameters:
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/entity.cik_Param'
          - $ref: '#/components/parameters/entity.id_Param' 
          - $ref: '#/components/parameters/entity.ticker_Param' 
          - $ref: '#/components/parameters/report.accession_Param' 
          - $ref: '#/components/parameters/report.document-type_Param'
          - $ref: '#/components/parameters/report.entity-name_Param'
          - $ref: '#/components/parameters/report.entry-type_Param'
          - $ref: '#/components/parameters/report.entry-url_Param'
          - $ref: '#/components/parameters/report.filer-category_Param'
          - $ref: '#/components/parameters/report.id_Param'
          - $ref: '#/components/parameters/report.is-most-current_Param'
          - $ref: '#/components/parameters/report.period-index_Param'
          - $ref: '#/components/parameters/report.restated_Param'
          - $ref: '#/components/parameters/report.restated-index_Param'
          - $ref: '#/components/parameters/report.sec-url_Param'
          - $ref: '#/components/parameters/report.sic-code_Param'
          - $ref: '#/components/parameters/report.source-id_Param'
          - $ref: '#/components/parameters/report.source-name_Param'
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/report_fields'
            description: This is the list of fields that can be returned for _XBRL reports_.
          
          
        responses:
          '200':
            description: __report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/report_details'
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  /api/v1/report/{report.id}:
      summary: Request a report from XBRL filings based on unique report identifier. The report ID is an internal ID used by the API.
      get:
        operationId: getReportDetailsById
        tags: [Reports]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Return detail for an _XBRL report_ based on the report.id attribute.
        parameters:
          - name: report.id
            in: path
            description: ID of the report defined by the API.
            required: true
            schema:
              type: integer
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/report_fields'
            description: This is the list of fields that can be returned for _XBRL reports_.
        responses:
          '200':
            description: __report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/report_details'
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  
  /api/v1/report/{report.id}/fact/search:
    summary: Request facts from XBRL filings based on specified report.id and fact parameters.
    get:
      operationId: getReportFactDetailsById
      tags: [Reports]
      security:
        - bearerAuth: []
      description: >
        Allows searching for _XBRL reports_ based on the report.id and returns certain _XBRL facts_ associated with that report.  The attributes of those facts can be used as search parameters.
      parameters:
        - name: report.id
          in: path
          description: ID of the report defined by the API.
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/concept.id_Param' 
        - $ref: '#/components/parameters/concept.is-base_Param'
        - $ref: '#/components/parameters/concept.is-monetary_Param'
        - $ref: '#/components/parameters/concept.local-name_Param'
        - $ref: '#/components/parameters/concept.namespace_Param'
        - $ref: '#/components/parameters/dimension.is-base_Param'
        - $ref: '#/components/parameters/dimension.local-name_Param'
        - $ref: '#/components/parameters/dimension.namespace_Param'
        - $ref: '#/components/parameters/dimensions.count_Param'
        - $ref: '#/components/parameters/dimensions.id_Param'
        - $ref: '#/components/parameters/dts.entry-point_Param'
        - $ref: '#/components/parameters/dts.id_Param'
        - $ref: '#/components/parameters/dts.target-namespace_Param'
        - $ref: '#/components/parameters/entity.cik_Param'
        - $ref: '#/components/parameters/entity.id_Param'
        - $ref: '#/components/parameters/fact.has-dimensions_Param'
        - $ref: '#/components/parameters/fact.hash_Param'
        - $ref: '#/components/parameters/fact.id_Param'
        - $ref: '#/components/parameters/fact.is-extended_Param'
        - $ref: '#/components/parameters/fact.text-search_Param'
        - $ref: '#/components/parameters/fact.ultimus_Param'
        - $ref: '#/components/parameters/fact.ultimus-index_Param'
        - $ref: '#/components/parameters/fact.value_Param'
        - $ref: '#/components/parameters/fact.value-link_Param'
        - $ref: '#/components/parameters/member.is-base_Param'
        - $ref: '#/components/parameters/member.local-name_Param'
        - $ref: '#/components/parameters/member.typed-value_Param'
        - $ref: '#/components/parameters/member.member-value_Param'
        - $ref: '#/components/parameters/member.namespace_Param'
        - $ref: '#/components/parameters/period.calendar-period_Param'
        - $ref: '#/components/parameters/period.fiscal-id_Param'
        - $ref: '#/components/parameters/period.fiscal-period_Param'
        - $ref: '#/components/parameters/period.fiscal-year_Param'
        - $ref: '#/components/parameters/period.id_Param'
        - $ref: '#/components/parameters/period.year_Param'
        - $ref: '#/components/parameters/report.accession_Param'
        - $ref: '#/components/parameters/report.creation-software_Param'
        - $ref: '#/components/parameters/report.entry-url_Param'
        - $ref: '#/components/parameters/report.id_Param'
        - $ref: '#/components/parameters/report.restated_Param'
        - $ref: '#/components/parameters/report.restated-index_Param'
        - $ref: '#/components/parameters/report.sec-url_Param'
        - $ref: '#/components/parameters/report.sic-code_Param'
        - $ref: '#/components/parameters/report.source-id_Param'
        - $ref: '#/components/parameters/report.source-name_Param'
        - $ref: '#/components/parameters/unit_Param'
        - in: query
          name: fields
          required: true
          style: form
          explode: false
          allowEmptyValue : false
          schema:
            $ref: '#/components/schemas/report_and_fact_fields'
            
          description: Report *and* fact fields can be returned by a nested report/fact query.
      responses:
        '200':
          description: __report details__ successfully accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/paging'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/report_details_with_facts'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/bad_token'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
  /api/v1/report/fact/search:
    summary: Request reports and facts from XBRL filings based on report and fact parameters.
    get:
      operationId: getReportFactDetailsBySearch
      tags: [Reports]
      security:
        - OAuth2: []
        - bearerAuth: []
      description: >
        Allows searching for _XBRL reports_ based on valid report search parameters and returns certain _XBRL facts_ associated with qualified reports.  The attributes of those facts can be used as search parameters.
      parameters:
        - $ref: '#/components/parameters/concept.id_Param' 
        - $ref: '#/components/parameters/concept.is-base_Param'
        - $ref: '#/components/parameters/concept.is-monetary_Param'
        - $ref: '#/components/parameters/concept.local-name_Param'
        - $ref: '#/components/parameters/concept.namespace_Param'
        - $ref: '#/components/parameters/dimension.is-base_Param'
        - $ref: '#/components/parameters/dimension.local-name_Param'
        - $ref: '#/components/parameters/dimension.namespace_Param'
        - $ref: '#/components/parameters/dimensions.id_Param'
        - $ref: '#/components/parameters/dts.entry-point_Param'
        - $ref: '#/components/parameters/dts.id_Param'
        - $ref: '#/components/parameters/dts.target-namespace_Param'
        - $ref: '#/components/parameters/entity.cik_Param'
        - $ref: '#/components/parameters/entity.id_Param'
        - $ref: '#/components/parameters/entity.ticker_Param'
        - $ref: '#/components/parameters/fact.has-dimensions_Param'
        - $ref: '#/components/parameters/fact.hash_Param'
        - $ref: '#/components/parameters/fact.id_Param'
        - $ref: '#/components/parameters/fact.is-extended_Param'
        - $ref: '#/components/parameters/fact.text-search_Param'
        - $ref: '#/components/parameters/fact.ultimus-index_Param'
        - $ref: '#/components/parameters/fact.ultimus_Param'
        - $ref: '#/components/parameters/fact.value_Param'
        - $ref: '#/components/parameters/fact.value-link_Param'
        - $ref: '#/components/parameters/member.is-base_Param'
        - $ref: '#/components/parameters/member.local-name_Param'
        - $ref: '#/components/parameters/member.typed-value_Param'
        - $ref: '#/components/parameters/member.member-value_Param'
        - $ref: '#/components/parameters/member.namespace_Param'
        - $ref: '#/components/parameters/period.calendar-period_Param'
        - $ref: '#/components/parameters/period.fiscal-id_Param'
        - $ref: '#/components/parameters/period.fiscal-period_Param'
        - $ref: '#/components/parameters/period.fiscal-year_Param'
        - $ref: '#/components/parameters/period.id_Param'
        - $ref: '#/components/parameters/period.year_Param'
        - $ref: '#/components/parameters/report.accession_Param'
        - $ref: '#/components/parameters/report.creation-software_Param'
        - $ref: '#/components/parameters/report.document-type_Param'
        - $ref: '#/components/parameters/report.entity-name_Param'
        - $ref: '#/components/parameters/report.entry-type_Param'
        - $ref: '#/components/parameters/report.entry-url_Param'
        - $ref: '#/components/parameters/report.filer-category_Param'
        - $ref: '#/components/parameters/report.id_Param'
        - $ref: '#/components/parameters/report.is-most-current_Param'
        - $ref: '#/components/parameters/report.period-index_Param'
        - $ref: '#/components/parameters/report.restated-index_Param'
        - $ref: '#/components/parameters/report.restated_Param'
        - $ref: '#/components/parameters/report.sec-url_Param'
        - $ref: '#/components/parameters/report.sic-code_Param'
        - $ref: '#/components/parameters/report.source-id_Param'
        - $ref: '#/components/parameters/report.source-name_Param'
        - $ref: '#/components/parameters/unit_Param'
        - in: query
          name: fields
          required: true
          style: form
          explode: false
          allowEmptyValue : false
          schema:
            $ref: '#/components/schemas/report_details_with_facts'
            
          description: Report *and* fact fields can be returned by a nested report/fact query.
      responses:
        '200':
          description: __report details__ successfully accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/paging'
                  data:
                    type: array
                    items:
                       $ref: '#/components/schemas/report_details_with_facts'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/bad_token'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
  /api/v1/report/{report.id}/delete: 
      delete:
        operationId: deleteReportDetailsById
        tags: [Reports]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Deletes an _XBRL report_.
        parameters:
          - name: report.id
            in: path
            description: ID of the report defined by the API.
            required: true
            schema:
              type: integer

        responses:
          '200':
            description: __report details__ successfully deleted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/report_details'
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'        
  /api/v1/entity/{entity.id}/report/search:
      summary: Request report information based on the entity identifier. The entity ID is an internal ID used by the API.
      get:
        operationId: getEntityReportDetailsBasedOnID
        tags: [Entity]
        security:
          - bearerAuth: []
        description: >
          Search for _XBRL reports_ based on the entity identifier associated with the reporting entity. Get entity and report information for the known entity. 
        parameters:
          - name: entity.id
            in: path
            description: ID of the entity defined by the API.
            required: true
            schema:
              type: integer

          - $ref: '#/components/parameters/report.source-id_Param'
          - $ref: '#/components/parameters/report.source-name_Param'
          - $ref: '#/components/parameters/report.accession_Param'
          - $ref: '#/components/parameters/report.id_Param'
          - $ref: '#/components/parameters/report.document-type_Param'
          - $ref: '#/components/parameters/report.entry-type_Param'
          - $ref: '#/components/parameters/report.entry-url_Param'
          - $ref: '#/components/parameters/report.filer-category_Param'
          - $ref: '#/components/parameters/report.is-most-current_Param'
          - $ref: '#/components/parameters/report.period-index_Param'
          - $ref: '#/components/parameters/report.restated_Param'
          - $ref: '#/components/parameters/report.restated-index_Param'
          - $ref: '#/components/parameters/report.sec-url_Param'
          - $ref: '#/components/parameters/report.sic-code_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/entity_fields'
            description: Entity *and* report fields can be returned by a nested entity/report query.
          
          
        responses:
          '200':
            description: __entity report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/entity_details'
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  
  /api/v1/entity/report/search:
      summary: Request entity *and* report details from XBRL filings based on search parameters.
      get:
        operationId: getEntityReportDetails
        tags: [Entity]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search _XBRL reports_ grouped by the entity that filed the reports. The API allows searching on the attributes of the entity and the report.
        parameters:
          - $ref: '#/components/parameters/entity.cik_Param'
          - $ref: '#/components/parameters/entity.id_Param'
          - $ref: '#/components/parameters/report.entity-name_Param'
          - $ref: '#/components/parameters/entity.ticker_Param' 
          - $ref: '#/components/parameters/report.source-id_Param'
          - $ref: '#/components/parameters/report.source-name_Param'
          - $ref: '#/components/parameters/report.accession_Param'
          - $ref: '#/components/parameters/report.id_Param'
          - $ref: '#/components/parameters/report.document-type_Param'
          - $ref: '#/components/parameters/report.entry-type_Param'
          - $ref: '#/components/parameters/report.entry-url_Param'
          - $ref: '#/components/parameters/report.filer-category_Param'
          - $ref: '#/components/parameters/report.is-most-current_Param'
          - $ref: '#/components/parameters/report.period-index_Param'
          - $ref: '#/components/parameters/report.restated_Param'
          - $ref: '#/components/parameters/report.restated-index_Param'
          - $ref: '#/components/parameters/report.sec-url_Param'
          - $ref: '#/components/parameters/report.sic-code_Param'
         
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/entity_fields'
            description: Entity *and* report fields can be returned by a nested entity/report query.
          
          
        responses:
          '200':
            description: __entity report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/entity_details'
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/entity/{entity.id}:
      summary: Request entity information based on the entity identifier. The entity ID is an internal ID used by the API.
      get:
        operationId: getEntityDetailsBasedOnID
        tags: [Entity]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Allows searching for _XBRL entities_ based on the entity identifier associated with the reporting entity. Use this to get ticker or CIK information quickly with a known entity.id.
        parameters:
          - name: entity.id
            in: path
            description: ID of the entity defined by the API.
            required: true
            schema:
              type: integer
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/entity_only_fields'
            description: This is the list of fields that can be returned for _XBRL entities_.
          
          
        responses:
          '200':
            description: __entity report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/entity_details'
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
          
  /api/v1/assertion/search:
      summary: Request errors from XBRL filings based on search parameters.
      get:
        operationId: getAssertionDetails
        tags: [Assertions]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for errors in _XBRL reports_ based on validation frameworks used by regulators and Data Quality Committees. The API allows searching for errors by report, error code, sverity of the error, etc.
        parameters:
          - $ref: '#/components/parameters/assertion.code_Param' 
          - $ref: '#/components/parameters/assertion.severity_Param'
          - $ref: '#/components/parameters/assertion.source_Param'
          - $ref: '#/components/parameters/assertion.type_Param'
          - $ref: '#/components/parameters/entity.name_Param'
          - $ref: '#/components/parameters/report.accession_Param'
          - $ref: '#/components/parameters/report.creation-software_Param'
          - $ref: '#/components/parameters/report.document-type_Param'
          - $ref: '#/components/parameters/report.entry-url_Param'
          - $ref: '#/components/parameters/report.filing-year_Param'
          - $ref: '#/components/parameters/report.id_Param'
          - $ref: '#/components/parameters/report.sec-url_Param'
          - $ref: '#/components/parameters/report.sic-code_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/assertion_fields'
            description: This is the list of fields that can be returned for _XBRL assertions_.
          
        responses:
          '200':
            description: __report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/assertion_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/assertion/validate:
      summary: Request errors from XBRL filings based on search parameters.
      post:
        operationId: validateFiling
        tags: [Assertions]
        security:
          - OAuth2: []
          - bearerAuth: []
        description:  Allows a user to submit a .zip file containing an XBRL instance and associated taxonomy files to the API.  The API returns validation errors based on the validation framework selected. The results can be returned as JSON or XML.
        requestBody:
          required: true
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  file:
                    type: string
                    format: binary
                    description: Define the XBRL file in a .zip to be validated.  The file must be based on either the IFRS or US GAAP taxonomies.
                  Task:
                    type: string
                    enum: [checkfiling,dqcfiling]
                    description: This paparameter allows the user to control which rules will be run. The option dqcfiling will run Data Quality Committee (DQC) rules. The checkfiling option will run the DQC rules and the [XBRL US SEC Filer Membership rules](https://xbrl.us/sec-filer) for qualified accounts.
                  format:
                    type: string
                    enum: [xml,json]
                    description: This parameter allows a user to specify if the results will be returned as JSON or XML.
                  efm:
                    type: string
                    enum: [strict,pragmatic]
                    description: This parameter controls if the EDGAR Filing Manual (EFM) rules will be run. This can be left balnk if no EFM rules are run, be defined as strict, or as pragmatic.
                  Status:
                    type: string
                    default: approved
                    enum: [approved,proposed]
                    description: Used to specify either the current [Approved Data Quality Committee rules](https://xbrl.us/rules-guidance), or any [Proposed Rules  (inclusive of Approved Rules)](https://xbrl.us/public-review). The default value is approved if nothing is specified.
                  run_rules:
                    type: string
                    example: 'DQC.US.0001.54'
                    description: |
                      Used to run a single rule rather than an entire set of rules. For DQC rules, the full rule number is used if it is defined such as DQC.US.0001.54.  However some rules the suffix is determined at run time. This means certain rules such as DQC 15 which have the suffix defined as part of the rule must exclude the rule number suffix. To run DQC rule 15 the value of 'DQC.US.0015' is [assed as the parameter. The following rules will do not use a rule number suffix.
                      * DQC.US.0015
                      * DQC.IFRS.0080
                    
          
        responses:
          '200':
            description: __validation details__ successfully processed
            content:
              application/xml:
                schema:
                  $ref: '#/components/schemas/results'
              application/json:
                schema:
                  $ref: '#/components/schemas/results'
            
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/dts/search:
      summary: Used to search discoverable taxonomy sets (dts) or taxonomies used in filings.  The DTS ID is an internal id used by the API that refers to the taxonomy schema of a filing.
      get:
        operationId: getDTSDetails
        tags: [DTS]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for a _XBRL discoverable taxonomy set (DTS)_ based on taxonomy name, entry point, hash, etc.
        parameters:
          - $ref: '#/components/parameters/dts.entry-point_Param' 
          - $ref: '#/components/parameters/dts.hash_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/dts.taxonomy_Param'
          - $ref: '#/components/parameters/dts.taxonomy-name_Param'
          - $ref: '#/components/parameters/dts.version_Param'
          - $ref: '#/components/parameters/report.accession_Param'
          - $ref: '#/components/parameters/report.id_Param'
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/dts_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/dts_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  
  /api/v1/dts/{dts.id}/concept/search:
      summary: Request concept details from an XBRL filing for a specified dts.id.
      get:
        operationId: getConceptDetailsByDTS
        tags: [DTS]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for _XBRL concepts_ in a specific DTS.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The DTS ID for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - $ref: '#/components/parameters/concept.id_Param' 
          - $ref: '#/components/parameters/concept.local-name_Param'
          - $ref: '#/components/parameters/concept.namespace_Param'
          - $ref: '#/components/parameters/dts.entry-point_Param'
          - $ref: '#/components/parameters/dts.hash_Param'
          - $ref: '#/components/parameters/dts.target-namespace_Param'
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/concept_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/concept_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/dts/{dts.id}/concept/{concept.local-name}:
      summary: Request concepts from an XBRL filing based on specified dts.id and concept.local-name parameters.
      get:
        operationId: getConceptDetailsByDTSAndLocalName
        tags: [DTS]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for _XBRL concept_ details based on specific dts.id and concept.local-name parameters. The returned attributes of the DTS and concept can be used as search parameters.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The DTS identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - name: concept.local-name
            in: path
            required: true
            schema:
              type: string
            description: The concept name in the base schema of a taxonomy exluding the namespace, such as Assets or Liabilities. Use this to search across multiple taxonomies where the local name is known to be consistent over time.
            example: Assets  
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/concept_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/concept_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
                  
  /api/v1/dts/{dts.id}/concept/{concept.local-name}/label:
      summary: Request label details from an XBRL filing based on specified dts.id and concept.local-name parameters. The returned attributes of the DTS, concept and label can be used as search parameters.
      get:
        operationId: getLabelDetailsByDTSAndLocalName
        tags: [DTS]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for _XBRL label_ information for a given _XBRL concept_ in a specific DTS.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The DTS identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - name: concept.local-name
            in: path
            required: true
            schema:
              type: string
            description: The concept name in the base schema of a taxonomy exluding the namespace, such as Assets or Liabilities. Use this to search across multiple taxonomies where the local name is known to be consistent over time.
            example: Assets  
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/label_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/label_details_search'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'          
  
  /api/v1/dts/{dts.id}/concept/{concept.local-name}/reference:
      summary: Request reference details from an XBRL filing based on specified dts.id and concept.local-name parameters. The returned attributes of the DTS, concept and reference can be used as search parameters.
      get:
        operationId: getReferenceDetailsByDTSAndLocalName
        tags: [DTS]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for _XBRL references_ of a given _XBRL concept_ for a specific DTS.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The DTS identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - name: concept.local-name
            in: path
            required: true
            schema:
              type: string
            description: The concept name in the base schema of a taxonomy exluding the namespace, such as Assets or Liabilities. Use this to search across multiple taxonomies where the local name is known to be consistent over time.
            example: Assets  
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/reference_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/reference_concept_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'              
            
  /api/v1/dts/{dts.id}/network:
      summary: Request network details from XBRL filings based on a specified dts.id.
      get:
        operationId: getNetworkDetailsByDTS
        tags: [DTS]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Request _XBRL network_ and _XBRL relationship_ information for a specific DTS.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The DTS identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/network_con_relationship_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/network_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/dts/{dts.id}/network/search:
      summary: Request network and relationship details from an XBRL filing based on specified dts.id and network parameters. The returned attributes of the DTS, network and relationship can be used as search parameters.
      get:
        operationId: getNetworkDetailsWithSearchByDTS
        tags: [DTS]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for _XBRL relationship_ details within the _XBRL networks_ of a specific DTS.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The DTS identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - $ref: '#/components/parameters/network.id_Param' 
          - $ref: '#/components/parameters/network.role-uri_Param'
          - $ref: '#/components/parameters/network.arcrole-uri_Param'
          - $ref: '#/components/parameters/network.link-name_Param'
          - $ref: '#/components/parameters/relationship.id_Param'
          - $ref: '#/components/parameters/relationship.order_Param'
          - $ref: '#/components/parameters/relationship.preferred-label_Param'
          - $ref: '#/components/parameters/relationship.source-concept-id_Param'
          - $ref: '#/components/parameters/relationship.source-name_Param'
          - $ref: '#/components/parameters/relationship.source-namespace_Param'
          - $ref: '#/components/parameters/relationship.target-concept-id_Param'
          - $ref: '#/components/parameters/relationship.target-name_Param'
          - $ref: '#/components/parameters/relationship.target-namespace_Param'
          - $ref: '#/components/parameters/relationship.tree-depth_Param'
          - $ref: '#/components/parameters/relationship.tree-sequence_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/network_con_relationship_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/network_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  
  /api/v1/concept/search:
      summary: Request concept details based on specified parameters.
      get:
        operationId: getConceptDetails
        tags: [Concepts]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for _XBRL concept_ details for a given DTS, or across a set of taxonomies. If searching for concept details it highly recomended that a DTS identifier is used to limit the concept search, *especially when returning label data*. For example, if _no DTS is presribed_ and the details of Assets are requested, the API will attempt to return _all the labels used for Assets in every single filing made_.
        parameters:
          - $ref: '#/components/parameters/concept.id_Param' 
          - $ref: '#/components/parameters/concept.local-name_Param'
          - $ref: '#/components/parameters/concept.namespace_Param'
          - $ref: '#/components/parameters/dts.entry-point_Param'
          - $ref: '#/components/parameters/dts.hash_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/dts.target-namespace_Param'
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/concept_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/concept_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/concept/{concept.local-name}/search:
      summary: Request concept details based on specified concept.
      get:
        operationId: getConceptDetailsByName
        tags: [Concepts]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Allows searching for _XBRL concept_ details in _XBRL reports_.
        parameters:
          - name: concept.local-name
            in: path
            description: The concept name in the base schema of a taxonomy exluding the namespace, such as Assets or Liabilities. Use this to search across multiple taxonomies where the local name is known to be consistent over time.
            required: true
            schema:
              type: string
          - $ref: '#/components/parameters/concept.id_Param' 
          - $ref: '#/components/parameters/concept.local-name_Param'
          - $ref: '#/components/parameters/concept.namespace_Param'
          - $ref: '#/components/parameters/dts.entry-point_Param'
          - $ref: '#/components/parameters/dts.hash_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/dts.target-namespace_Param'
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/concept_fields' 
                
            description: This is the list of fields that can be returned for _XBRL concepts_.
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/concept_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/label/{dts.id}/search:
      summary: Request label details based on specified dts.id.
      get:
        operationId: getlabelsBasedOnDTS
        tags: [Labels]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for _XBRL label_ details in a specific _XBRL report_.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The DTS identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - $ref: '#/components/parameters/label.text_Param'
          - $ref: '#/components/parameters/label.role_Param' 
          - $ref: '#/components/parameters/concept.id_Param' 
          - $ref: '#/components/parameters/concept.local-name_Param'
          - $ref: '#/components/parameters/dts.entry-point_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/label_fields' 
                
            description: This is the list of fields that can be returned for _XBRL labels_.
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/label_details_search'
                        
                          
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/label/search:
      summary: Request label details based on specified parameters.
      get:
        operationId: getlabels
        tags: [Labels]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for _XBRL label_ details in _XBRL reports_.
        parameters:
          - name: dts.id
            in: query
            required: true
            schema:
              type: integer
            description: The DTS identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - $ref: '#/components/parameters/label.text_Param'
          - $ref: '#/components/parameters/label.role_Param' 
          - $ref: '#/components/parameters/concept.id_Param' 
          - $ref: '#/components/parameters/concept.local-name_Param'
          - $ref: '#/components/parameters/dts.entry-point_Param'
          
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/label_fields' 
                
            description: This is the list of fields that can be returned for _XBRL labels_.
          
        responses:
          '200':
            description: __label details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/label_details_search'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/network/{network.id}/relationship/search:
      summary: Request relationship details from an XBRL filing based on specified network.id. The network ID is an internal ID used by the API. The returned attributes of the network and relationship can be used as search parameters.
      get:
        operationId: getNetworkRelationships
        tags: [Networks]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search all chracteristics of _XBRL relationships_ in a specific _XBRL network_ and filter results based on charateristics of the _XBRL relationships_ in the _XBRL network_. 
        parameters:
          - name: network.id
            in: path
            required: true
            schema:
              type: integer
            description: Unique identifier used to identify a specific network. A different identifier is used for networks with the same role but different linkbase types.
            example: 27624452
          - $ref: '#/components/parameters/dts.entry-point_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/network.arcrole-uri_Param'
          - $ref: '#/components/parameters/network.id_Param'
          - $ref: '#/components/parameters/network.link-name_Param'
          - $ref: '#/components/parameters/network.role-description_Param'
          - $ref: '#/components/parameters/network.role-uri_Param'
          - $ref: '#/components/parameters/relationship.id_Param'
          - $ref: '#/components/parameters/relationship.order_Param'
          - $ref: '#/components/parameters/relationship.preferred-label_Param'
          - $ref: '#/components/parameters/relationship.source-concept-id_Param'
          - $ref: '#/components/parameters/relationship.source-name_Param'
          - $ref: '#/components/parameters/relationship.source-namespace_Param'
          - $ref: '#/components/parameters/relationship.target-concept-id_Param'
          - $ref: '#/components/parameters/relationship.target-name_Param'
          - $ref: '#/components/parameters/relationship.target-namespace_Param'
          - $ref: '#/components/parameters/relationship.tree-depth_Param'
          - $ref: '#/components/parameters/relationship.tree-sequence_Param'
          
          
          - in: query
            name: fields
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/network_con_relationship_fields' 
                
            description: DTS, network *and* relationship fields can be returned by a nested network/relationship query.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/network_details'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/network/relationship/search:
      summary: Request network and relationship details from XBRL filings based on search parameters.
      get:
        operationId: getNetworkRelationshipsNoID
        tags: [Networks]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for a specific _XBRL network_ based on _XBRL network_ and _XBRL relationship_ chracteristics.
        parameters:
          - $ref: '#/components/parameters/dts.entry-point_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/network.arcrole-uri_Param'
          - $ref: '#/components/parameters/network.id_Param'
          - $ref: '#/components/parameters/network.link-name_Param'
          - $ref: '#/components/parameters/network.role-description_Param'
          - $ref: '#/components/parameters/network.role-uri_Param'
          - $ref: '#/components/parameters/relationship.id_Param'
          - $ref: '#/components/parameters/relationship.order_Param'
          - $ref: '#/components/parameters/relationship.preferred-label_Param'
          - $ref: '#/components/parameters/relationship.source-concept-id_Param'
          - $ref: '#/components/parameters/relationship.source-name_Param'
          - $ref: '#/components/parameters/relationship.source-namespace_Param'
          - $ref: '#/components/parameters/relationship.target-concept-id_Param'
          - $ref: '#/components/parameters/relationship.target-name_Param'
          - $ref: '#/components/parameters/relationship.target-namespace_Param'
          - $ref: '#/components/parameters/relationship.tree-depth_Param'
          - $ref: '#/components/parameters/relationship.tree-sequence_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/network_con_relationship_fields' 
                
            description: DTS, network *and* relationship fields can be returned by a nested network/relationship query.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/network_details'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/network/{network.id}:
      summary: Request networks details from an XBRL filing based on a specified network ID. The network ID is an internal id used by the API.
      get:
        operationId: getNetworkOnID
        tags: [Networks]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Returns the characteristics of a specific _XBRL network_. This does __not__ include the _XBRL relationships_. Use the endpoint /api/v1/network/{network.id}/relationship/search to get relationship information about the network.
        parameters:
          - name: network.id
            in: path
            required: true
            schema:
              type: integer
            description: Unique identifier used to identify a specific network. A different identifier is used for networks with the same role but different linkbase types.
            example: 27624452
          
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/network_fields' 
                
            description: This is the list of network fields that can be returned by the query.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/network_only_details'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  
  /api/v1/relationship/search:
      summary: Request network and relationship detail from XBRL filings based on search parameters.
      get:
        operationId: getRelationships
        tags: [Relationships]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search for a specific set of _XBRL relationships_ based on characteristics of the relationship.
        parameters:
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/network.arcrole-uri_Param'
          - $ref: '#/components/parameters/network.id_Param'
          - $ref: '#/components/parameters/network.link-name_Param'
          - $ref: '#/components/parameters/network.role-description_Param'
          - $ref: '#/components/parameters/network.role-uri_Param'
          - $ref: '#/components/parameters/relationship.id_Param'
          - $ref: '#/components/parameters/relationship.order_Param'
          - $ref: '#/components/parameters/relationship.preferred-label_Param'
          - $ref: '#/components/parameters/relationship.source-concept-id_Param'
          - $ref: '#/components/parameters/relationship.source-name_Param'
          - $ref: '#/components/parameters/relationship.source-namespace_Param'
          - $ref: '#/components/parameters/relationship.target-concept-id_Param'
          - $ref: '#/components/parameters/relationship.target-is-abstract_Param'
          - $ref: '#/components/parameters/relationship.target-name_Param'
          - $ref: '#/components/parameters/relationship.target-namespace_Param'
          - $ref: '#/components/parameters/relationship.tree-depth_Param'
          - $ref: '#/components/parameters/relationship.tree-sequence_Param'
          - $ref: '#/components/parameters/stringmatch_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/relationship_fields' 
                
            description: This is the list of dts, network and relationship fields that can be returned by the query.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/relationship_details_search'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'     
            
  /api/v1/relationship/tree/search:
      summary: Request networks and relationships from XBRL filings based on search parameters.
      get:
        operationId: getRelationshipsAsTree
        tags: [Relationships]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search a specific set of _XBRL relationships_ based on characteristics of the relationship and returning the data as a tree in different formats.
        parameters:
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/network.arcrole-uri_Param'
          - $ref: '#/components/parameters/network.id_Param'
          - $ref: '#/components/parameters/network.link-name_Param'
          - $ref: '#/components/parameters/network.role-description_Param'
          - $ref: '#/components/parameters/network.role-uri_Param'
          # - $ref: '#/components/parameters/relationship.id_Param'
          # - $ref: '#/components/parameters/relationship.order_Param'
          # - $ref: '#/components/parameters/relationship.preferred-label_Param'
          # - $ref: '#/components/parameters/relationship.source-concept-id_Param'
          # - $ref: '#/components/parameters/relationship.source-name_Param'
          # - $ref: '#/components/parameters/relationship.source-namespace_Param'
          # - $ref: '#/components/parameters/relationship.target-concept-id_Param'
          # - $ref: '#/components/parameters/relationship.target-name_Param'
          # - $ref: '#/components/parameters/relationship.target-namespace_Param'
          # - $ref: '#/components/parameters/relationship.tree-depth_Param'
          # - $ref: '#/components/parameters/relationship.tree-sequence_Param'
          - in: query
            name: format
            schema:
                type: string
                enum: [flat,fancytree,standard] 
            example: standard
            description: >
                Allows the list of _XBRL relationships_ to be returned in a tree format or be flat. Select from the following
                  * flat: Returns a list of relationship pairs. 
                  * standard: Returns as a standard tree. (No paging data is returned)
                  * fancytree: Returns a network tree in the format for the `fancytree javasript format`. (No paging data is returned so that the results can go straight into a fancy tree object)
                
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/relationship_fields' 
                
            description: DTS, network *and* relationship fields can be returned from a nested relationship/tree query.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/relationship_details_search'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'          
  
  /api/v1/document/search:
      summary: Request document details from XBRL filings based on search parameters.
      get:
        operationId: getDocumentInfo
        tags: [Documents]
        security:
          - OAuth2: []
          - bearerAuth: []
        description: >
          Search _XBRL documents_ and their content.
        parameters:
          - $ref: '#/components/parameters/document.text-search_Param'
          - $ref: '#/components/parameters/document.top-level_Param'
          - $ref: '#/components/parameters/document.uri_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/document_fields' 
                
            description: |
                List of fields to return. 
                Available fields are as follows:  
                  * document.example 
                  * document.highlighted-vaule
                  * document.top-level
                  * document.tree-level
                  * document.tree-order
                  * document.type
                  * document.uri
                  * dts.id
                  * document.*
                
                To limit the values returned use document._limit(n)_
                
                To sort on a field use the field followed by .sort. For example to sort in ascending order for document.uri then enter document.uri._sort(ASC)_ as a return field.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/document_details'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'   
                               
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: /oauth2/token
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    
  schemas:
    authorization_grant:
      type: object
      required: [grant_type, client_id, client_secret]
      properties:
        grant_type:
          type: string
          example: password
          description: >
            Used to identify which credentials the authorization server needs to check
              * **client_credentials** - Requires a client_id and client_secret only
              * **password** - Requires a username and password as well as client_id and client_secret
        client_id:
          type: string
          example: XBRL US
          description: Unique identifier agreed upon by **XBRL US** and the 3rd party client
        client_secret:
          type: string
          example: xhOEnAX2M...gaIYLXOvCe25Q
          format: byte
          description: Base64 key used to authenticate the 3rd party client
        username:
          type: string
          example: joe90@WorldIntelligenceNetwork.org
          description: Unique identifier for a given user
        password:
          type: string
          format: password
          example: someSecurePassword
          description: Password used to authenticate the 3rd party user
        platform:
          type: string
          example: github
          description: Identifies the platform that is requesting the token (i.e. <YourProgramName>)
    error_message:
      type: object
      properties:
        errors:
          type: string
          description: Identifier for the error
        error_description:
          type: string
          description: Adds more details to the error
    paging:
      type: object
      properties: 
        limit:
          type: integer
          example: 1000
        offset:
          type: integer
          example: -1
        count:
          type: integer
          example: 1
    dimensions:
      type: object
      properties:
        dimension_namespace: 
          type: string
        dimension_local_name: 
          type: string
        member_namespace: 
[...]
