openapi: 3.0.0
# XBRL US API
servers:
  - description: Running this application XBRL US server
    url: 'https://api.xbrl.us/'
info:
  version: "V1"
  title: XBRL US API
  description: |
    This API defines the XBRL US API. 

    ## Authorization Flow

    We use [OAuth2 JWT](https://jwt.io/) flows to secure interactions.

    ## Example Interactions

    In this section, we will provide __CURL__ examples for typical __XBRL US API__ flows. Because XBRL US API is sessionless, each "session" will always begin with the [OAuth2 JWT Access Token Flow](https://jwt.io/introduction).

    ### Access Token Flow

    This flow shows the steps required to interact with the API

    1. Send an HTTP `POST` request to the tokenUrl: `/oauth2/token`:
      ```http
      POST /oauth2/token HTTP/1.1 
      Host: <testapi.xbrl.us> 
      Content-Type: application/x-www-form-urlencoded 
      Body: {
        "grant_type": password,
        "client_id": "XBRL US Client",
        "client_secret": "client secret",
        "username": "username",
        "password": "password",
        "platform": pc
      }
      ```
    2. Upon a successful authorization grant, the server will respond with an `access_token`:
      ```http
      HTTP/1.1 200 OK
      Request URL: <example.com>/oauth2/token
      Date: <EEE, dd MMM yyyy HH:mm:ss z>
      Content-Length: 500
      Body: {
        "platform": "pc",
        "access_token": "eyJ...124nOvc",
        "refresh_token": "eyJ...124nOvc",
        "expires_in" : 3600,
        "refresh_token_expires_in": 10800,
        "token_type": "bearer"
      }
      ```
    3. Add a new `Authorization` header with type `Bearer` and the contents of the above `access_token`
      ```http
      GET </some/route> HTTP/1.1
      Host: <testapi.xbrl.us> 
      Authorization: Bearer yJ...124nOvc
      Content-Type: application/json; charset=utf-8 
      Body: <...>
      ```

    Once an `access_token` has been acquired, use it until it returns a `401`. If this occurs, simply request a new token using the credentials from before. 


  
  contact:
    name: xbrl.us
    email: support@xbrl.us
tags:
  - name: oauth2
    description: Operations to request authorization, receive tokens, and check tokens
  - name: Facts
    description: Used to request XBRL Facts
  - name: Reports
    description: Used to get information on XBRL reports
  - name: Entity
    description:  Used to get information about entities making XBRL filings
  - name: Assertions
    description: Used to get information on errors in XBRL reports
  - name: DTS
    description: Used to get information about taxonomies.
  - name: Concepts
    description: Used to information about XBRL concepts in a taxonomy
  - name: Labels
    description: Used to request label information associated with a concept and a dts identifier.
  - name: Networks
    description: Used to request label information associated with a concept and a dts identifier.
    
security:
  - oauth2: [ROLE_CLIENT, ROLE_USER]
paths:
  /oauth2/token:
    summary: Aquire an access token by fulfilling a client_credentials grant, or a password grant
    post:
      operationId: tokenUrl
      tags: [oauth2]
      security: []
      description: >
        Assuming a valid login exists, this route allows a trusted client to aquire an access token for itself, or to request an access token for a specific user. You may send both `client_credentials` grants and `password` grants via the following: 
         * __application/x-www-form-urlencoded__


        __[Read more](https://oauth.net/2/grant-types/)__
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorization_grant'
            example:
              grant_type: password
              client_id: 1223
              client_secret: xhOEnAX2M...gaIYLXOvCe25Q
              username: campbell.pryde@xbrl.us
              password: someSecurePassword
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authorization_grant'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/authorization_grant'
      responses:
        '200':
          description: > 
            The authorization grant has been validated, and an access token is granted. __[Read more](https://jwt.io/introduction/)__
          content:
            application/json:
              schema:
                type: object
                properties:
                  platform :
                    type: string
                    example: pc
                  access_token:
                    type: string
                    format: byte
                    example: eyJ...124nOvc
                    description: A JWT access token. __[Read more](https://jwt.io/)__
                  refresh_token:
                    type: string
                    format: byte
                    example: eyJ...124nOvc
                    description: A JWT access token. __[Read more](https://jwt.io/)__
                  expires_in:
                    type: integer
                    example: 3600
                  refresh_token_expires_in:
                    type: integer
                    example: 3600
                  token_type:
                    type: string
                    example: bearer
                    description: >
                      The token_type will always be bearer. The access_token is considered a bearer token, and thus should be placed in all subqequent requests to the resource endpoints by using the following header:
                        * Authorization: Bearer [token]
                  
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
  /api/v1/fact/search:
    summary: Request facts from XBRL filings based on search parameters.
    get:
      operationId: getFactDetails
      tags: [Facts]
      security:
        - bearerAuth: []
      description: | 
          Allows searching for _XBRL facts_ based on the attributes of the fact, the report it was in or the source of the data.
          ## Examples
          
          ### _-Get all the facts in a document_
          
          
          The following call will get all facts in the report with an id of `226471`. It also limits the records returned to `1010` facts, sorts by the concept name and will return the following values:
            * entity.name
            * dimensions.count
            * dimensions
            * entity.cik
            * period.fiscal-period
            * period.end
            * period.instant
            * period.year
            * concept.local-name.sort(ASC)
            * fact.numerical-value,fact.limit(1010)
            * fact.value,report.source-id
            * footnote.text
            * footnote.role
          
                  https://api.xbrl.us/api/v1/fact/search?report.id=226471&fields=entity.name,dimensions.count,dimensions,entity.cik,period.fiscal-period,period.end,period.instant,period.year,concept.local-name.sort(ASC),fact.numerical-value,fact.limit(1010),fact.value,report.source-id,footnote.text,footnote.role
            
  
          ### _-Get Operating Cash used by Pharma for the 2017 year_
          
          The following call will get all facts reported for the 2017 year using the concept  `NetCashProvidedByUsedInOperatingActivities` reported for the sic code  `3841` which have no dimensions. It also limits the records returned to `100` facts and will return the following values:
            
            * fact.numerical-value
            * period.fiscal-year
            * period.fiscal-period
            
                  https://api.xbrl.us/api/v1/fact/search?period.fiscal-period=Y&fact.ultimus=true&report.sic-code=3841&concept.local-name=NetCashProvidedByUsedInOperatingActivities&period.fiscal-year=2017&dimensions.count=0&fields=fact.numerical-value,period.fiscal-year,period.fiscal-period,fact.limit(100)
          
              
          
      parameters: 
        - $ref: '#/components/parameters/concept.id_Param' 
        - $ref: '#/components/parameters/concept.is-base_Param'
        - $ref: '#/components/parameters/concept.is-monetary_Param'
        - $ref: '#/components/parameters/concept.local-name_Param'
        - $ref: '#/components/parameters/concept.namespace_Param'
        - $ref: '#/components/parameters/dimension.is-base_Param'
        - $ref: '#/components/parameters/dimension.local-name_Param'
        - $ref: '#/components/parameters/dimension.namespace_Param'
        - $ref: '#/components/parameters/dimensions.count_Param'
        - $ref: '#/components/parameters/dimensions.id_Param'
        - $ref: '#/components/parameters/dts.entry-point_Param'
        - $ref: '#/components/parameters/dts.id_Param'
        - $ref: '#/components/parameters/dts.target-namespace_Param'
        - $ref: '#/components/parameters/entity.cik_Param'
        - $ref: '#/components/parameters/entity.id_Param'
        - $ref: '#/components/parameters/fact.has-dimensions_Param'
        - $ref: '#/components/parameters/fact.hash_Param'
        - $ref: '#/components/parameters/fact.id_Param'
        - $ref: '#/components/parameters/fact.is-extended_Param'
        - $ref: '#/components/parameters/fact.ultimus_Param'
        - $ref: '#/components/parameters/fact.ultimus-index_Param'
        - $ref: '#/components/parameters/fact.value_Param'
        - $ref: '#/components/parameters/member.is-base_Param'
        - $ref: '#/components/parameters/member.local-name_Param'
        - $ref: '#/components/parameters/member.namespace_Param'
        - $ref: '#/components/parameters/period.calendar-period_Param'
        - $ref: '#/components/parameters/period.fiscal-id_Param'
        - $ref: '#/components/parameters/period.fiscal-period_Param'
        - $ref: '#/components/parameters/period.fiscal-year_Param'
        - $ref: '#/components/parameters/period.id_Param'
        - $ref: '#/components/parameters/period.year_Param'
        - $ref: '#/components/parameters/report.accession_Param'
        - $ref: '#/components/parameters/report.creation-software_Param'
        - $ref: '#/components/parameters/report.entry-url_Param'
        - $ref: '#/components/parameters/report.id_Param'
        - $ref: '#/components/parameters/report.restated_Param'
        - $ref: '#/components/parameters/report.restated-index_Param'
        - $ref: '#/components/parameters/report.sec-url_Param'
        - $ref: '#/components/parameters/report.sic-code_Param'
        - $ref: '#/components/parameters/report.source-id_Param'
        - $ref: '#/components/parameters/report.source-name_Param'
        - $ref: '#/components/parameters/unit_Param'
        - in: query
          name: fields
          required: true
          style: form
          explode: false
          allowEmptyValue : false
          schema:
            $ref: '#/components/schemas/fact_fields'
          description: List of concepts to return.
          
       ## - in: query
       ##   name: aspect
          # Wrap 'schema' into 'content.<media-type>'
        ##  content:
        ##    application/json:  # <---- media type indicates how to serialize / deserialize the parameter content
        ##      schema:
        ##        type: object
        ##        properties:
        ##          dimension:
        ##           type: string
        ##         member:
        ##            type: string
          
      responses:
        '200':
          description: __fact details__ successfully accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/paging'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/fact_details'
          # -----------------------------------------------------
          # Links
          # -----------------------------------------------------
          #links:
          #  GetfactId:   # <---- arbitrary name for the link
          #    operationId: getFactBasedOnFactID
              # or
              # operationRef: '#/paths/~1users~1{userId}/get'
           #   parameters:
          #      fact.id: '$response.body#/data/fact.id'
          #    description: >
          #      The `fact.id` value returned in the response can be used as
           #     the `factId` parameter in `/api/v1/fact/{fact.id}`.
          # -----------------------------------------------------
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/bad_token'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
          
  /api/v1/fact/{fact.id}:
    summary: Request fact from XBRL filings based on its unique fact identifier.
    get:
      operationId: getFactBasedOnFactID
      tags: [Facts]
      security:
        - bearerAuth: []
      description: >
       Allows searching for _XBRL facts_ based on the fact ID attribute of the fact.
      parameters:
        - name: fact.id
          in: path
          description: Id of the fact defined by the API.
          required: true
          schema:
            type: integer
        - in: query
          name: fields
          required: true
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/fact_fields'
          description: List of fact components that can be searched on.  
      responses:
        '200':
          description: __fact details__ successfully accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/paging'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/fact_details'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/bad_token'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
  /api/v1/fact/oim/search:
    summary: Request facts from XBRL filings based on search parameters.
    get:
      operationId: getFactDetailsInOIMFormat
      tags: [Facts]
      security:
        - bearerAuth: []
      description: >
        Returns fact details in the OIM JSON format
      parameters: 
        - $ref: '#/components/parameters/concept.id_Param' 
        - $ref: '#/components/parameters/concept.is-base_Param'
        - $ref: '#/components/parameters/concept.is-monetary_Param'
        - $ref: '#/components/parameters/concept.local-name_Param'
        - $ref: '#/components/parameters/concept.namespace_Param'
        - $ref: '#/components/parameters/dimension.is-base_Param'
        - $ref: '#/components/parameters/dimension.local-name_Param'
        - $ref: '#/components/parameters/dimension.namespace_Param'
        - $ref: '#/components/parameters/dimensions.count_Param'
        - $ref: '#/components/parameters/dimensions.id_Param'
        - $ref: '#/components/parameters/dts.entry-point_Param'
        - $ref: '#/components/parameters/dts.id_Param'
        - $ref: '#/components/parameters/dts.target-namespace_Param'
        - $ref: '#/components/parameters/entity.cik_Param'
        - $ref: '#/components/parameters/entity.id_Param'
        - $ref: '#/components/parameters/fact.has-dimensions_Param'
        - $ref: '#/components/parameters/fact.hash_Param'
        - $ref: '#/components/parameters/fact.id_Param'
        - $ref: '#/components/parameters/fact.is-extended_Param'
        - $ref: '#/components/parameters/fact.ultimus_Param'
        - $ref: '#/components/parameters/fact.ultimus-index_Param'
        - $ref: '#/components/parameters/fact.value_Param'
        - $ref: '#/components/parameters/member.is-base_Param'
        - $ref: '#/components/parameters/member.local-name_Param'
        - $ref: '#/components/parameters/member.namespace_Param'
        - $ref: '#/components/parameters/period.calendar-period_Param'
        - $ref: '#/components/parameters/period.fiscal-id_Param'
        - $ref: '#/components/parameters/period.fiscal-period_Param'
        - $ref: '#/components/parameters/period.fiscal-year_Param'
        - $ref: '#/components/parameters/period.id_Param'
        - $ref: '#/components/parameters/period.year_Param'
        - $ref: '#/components/parameters/report.accession_Param'
        - $ref: '#/components/parameters/report.creation-software_Param'
        - $ref: '#/components/parameters/report.entry-url_Param'
        - $ref: '#/components/parameters/report.id_Param'
        - $ref: '#/components/parameters/report.restated_Param'
        - $ref: '#/components/parameters/report.restated-index_Param'
        - $ref: '#/components/parameters/report.sec-url_Param'
        - $ref: '#/components/parameters/report.sic-code_Param'
        - $ref: '#/components/parameters/report.source-id_Param'
        - $ref: '#/components/parameters/report.source-name_Param'
        - $ref: '#/components/parameters/unit_Param'
        
      responses:
        '200':
          description: __fact details__ successfully accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  documentInfo:
                    $ref: '#/components/schemas/documentInfo_oim_json'
                  facts:
                      $ref: '#/components/schemas/facts_oim_json'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/bad_token'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
  /api/v1/report/search:
      summary: Request facts from XBRL filings based on search parameters.
      get:
        operationId: getReportDetails
        tags: [Reports]
        security:
          - bearerAuth: []
        description: >
          Allows searching for _XBRL reports_ based on the attributes of the report.
        parameters:
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/entity.cik_Param'
          - $ref: '#/components/parameters/entity.id_Param' 
          - $ref: '#/components/parameters/entity.ticker_Param' 
          - $ref: '#/components/parameters/report.accession_Param' 
          - $ref: '#/components/parameters/report.document-type_Param'
          - $ref: '#/components/parameters/report.entity-name_Param'
          - $ref: '#/components/parameters/report.entry-type_Param'
          - $ref: '#/components/parameters/report.entry-url_Param'
          - $ref: '#/components/parameters/report.filer-category_Param'
          - $ref: '#/components/parameters/report.id_Param'
          - $ref: '#/components/parameters/report.is-most-current_Param'
          - $ref: '#/components/parameters/report.period-index_Param'
          - $ref: '#/components/parameters/report.restated_Param'
          - $ref: '#/components/parameters/report.restated-index_Param'
          - $ref: '#/components/parameters/report.sec-url_Param'
          - $ref: '#/components/parameters/report.sic-code_Param'
          - $ref: '#/components/parameters/report.source-id_Param'
          - $ref: '#/components/parameters/report.source-name_Param'
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/report_fields'
            description: List of concepts to return.
          
          
        responses:
          '200':
            description: __report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/report_details'
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  /api/v1/report/{report.id}:
      summary: Request report from XBRL filings based on report id parameters.
      get:
        operationId: getReportDetailsById
        tags: [Reports]
        security:
          - bearerAuth: []
        description: >
          Allows searching for _XBRL reports_ based on the report id attribute of the report.
        parameters:
          - name: report.id
            in: path
            description: Id of the report defined by the API.
            required: true
            schema:
              type: integer
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/report_fields'
            description: List of concepts to return.
        responses:
          '200':
            description: __report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/report_details'
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  /api/v1/report/{report.id}/fact/search:
    summary: Request report from XBRL filings based on report id parameters.
    get:
      operationId: getReportFactDetailsById
      tags: [Reports]
      security:
        - bearerAuth: []
      description: >
        Allows searching for _XBRL reports_ based on the report id attribute of the report and to return certain facts associated with that report.  The attributes of those facts can be used as search parameters.
      parameters:
        - name: report.id
          in: path
          description: Id of the report defined by the API.
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/concept.id_Param' 
        - $ref: '#/components/parameters/concept.is-base_Param'
        - $ref: '#/components/parameters/concept.is-monetary_Param'
        - $ref: '#/components/parameters/concept.local-name_Param'
        - $ref: '#/components/parameters/concept.namespace_Param'
        - $ref: '#/components/parameters/dimension.is-base_Param'
        - $ref: '#/components/parameters/dimension.local-name_Param'
        - $ref: '#/components/parameters/dimension.namespace_Param'
        - $ref: '#/components/parameters/dimensions.count_Param'
        - $ref: '#/components/parameters/dimensions.id_Param'
        - $ref: '#/components/parameters/dts.entry-point_Param'
        - $ref: '#/components/parameters/dts.id_Param'
        - $ref: '#/components/parameters/dts.target-namespace_Param'
        - $ref: '#/components/parameters/entity.cik_Param'
        - $ref: '#/components/parameters/entity.id_Param'
        - $ref: '#/components/parameters/fact.has-dimensions_Param'
        - $ref: '#/components/parameters/fact.hash_Param'
        - $ref: '#/components/parameters/fact.id_Param'
        - $ref: '#/components/parameters/fact.is-extended_Param'
        - $ref: '#/components/parameters/fact.ultimus_Param'
        - $ref: '#/components/parameters/fact.ultimus-index_Param'
        - $ref: '#/components/parameters/fact.value_Param'
        - $ref: '#/components/parameters/member.is-base_Param'
        - $ref: '#/components/parameters/member.local-name_Param'
        - $ref: '#/components/parameters/member.namespace_Param'
        - $ref: '#/components/parameters/period.calendar-period_Param'
        - $ref: '#/components/parameters/period.fiscal-id_Param'
        - $ref: '#/components/parameters/period.fiscal-period_Param'
        - $ref: '#/components/parameters/period.fiscal-year_Param'
        - $ref: '#/components/parameters/period.id_Param'
        - $ref: '#/components/parameters/period.year_Param'
        - $ref: '#/components/parameters/report.accession_Param'
        - $ref: '#/components/parameters/report.creation-software_Param'
        - $ref: '#/components/parameters/report.entry-url_Param'
        - $ref: '#/components/parameters/report.id_Param'
        - $ref: '#/components/parameters/report.restated_Param'
        - $ref: '#/components/parameters/report.restated-index_Param'
        - $ref: '#/components/parameters/report.sec-url_Param'
        - $ref: '#/components/parameters/report.sic-code_Param'
        - $ref: '#/components/parameters/report.source-id_Param'
        - $ref: '#/components/parameters/report.source-name_Param'
        - $ref: '#/components/parameters/unit_Param'
        - in: query
          name: fields
          required: true
          style: form
          explode: false
          allowEmptyValue : false
          schema:
            $ref: '#/components/schemas/report_and_fact_fields'
            
          description: List of concepts to return.
      responses:
        '200':
          description: __report details__ successfully accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/paging'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/report_details_with_facts'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/bad_token'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
  /api/v1/report/fact/search:
    summary: Request report from XBRL filings based on report id parameters.
    get:
      operationId: getReportFactDetailsBySearch
      tags: [Reports]
      security:
        - bearerAuth: []
      description: >
        Allows searching for _XBRL reports_ based on any  report search attributes of the report and to return certain facts associated with that report.  The attributes of those facts can be used as search parameters.
      parameters:
        - $ref: '#/components/parameters/concept.id_Param' 
        - $ref: '#/components/parameters/concept.is-base_Param'
        - $ref: '#/components/parameters/concept.is-monetary_Param'
        - $ref: '#/components/parameters/concept.local-name_Param'
        - $ref: '#/components/parameters/concept.namespace_Param'
        - $ref: '#/components/parameters/dimension.is-base_Param'
        - $ref: '#/components/parameters/dimension.local-name_Param'
        - $ref: '#/components/parameters/dimension.namespace_Param'
        - $ref: '#/components/parameters/dimensions.id_Param'
        - $ref: '#/components/parameters/dts.entry-point_Param'
        - $ref: '#/components/parameters/dts.id_Param'
        - $ref: '#/components/parameters/dts.target-namespace_Param'
        - $ref: '#/components/parameters/entity.cik_Param'
        - $ref: '#/components/parameters/entity.id_Param'
        - $ref: '#/components/parameters/entity.ticker_Param'
        - $ref: '#/components/parameters/fact.has-dimensions_Param'
        - $ref: '#/components/parameters/fact.hash_Param'
        - $ref: '#/components/parameters/fact.id_Param'
        - $ref: '#/components/parameters/fact.is-extended_Param'
        - $ref: '#/components/parameters/fact.ultimus-index_Param'
        - $ref: '#/components/parameters/fact.ultimus_Param'
        - $ref: '#/components/parameters/fact.value_Param'
        - $ref: '#/components/parameters/member.is-base_Param'
        - $ref: '#/components/parameters/member.local-name_Param'
        - $ref: '#/components/parameters/member.namespace_Param'
        - $ref: '#/components/parameters/period.calendar-period_Param'
        - $ref: '#/components/parameters/period.fiscal-id_Param'
        - $ref: '#/components/parameters/period.fiscal-period_Param'
        - $ref: '#/components/parameters/period.fiscal-year_Param'
        - $ref: '#/components/parameters/period.id_Param'
        - $ref: '#/components/parameters/period.year_Param'
        - $ref: '#/components/parameters/report.accession_Param'
        - $ref: '#/components/parameters/report.creation-software_Param'
        - $ref: '#/components/parameters/report.document-type_Param'
        - $ref: '#/components/parameters/report.entity-name_Param'
        - $ref: '#/components/parameters/report.entry-type_Param'
        - $ref: '#/components/parameters/report.entry-url_Param'
        - $ref: '#/components/parameters/report.filer-category_Param'
        - $ref: '#/components/parameters/report.id_Param'
        - $ref: '#/components/parameters/report.is-most-current_Param'
        - $ref: '#/components/parameters/report.period-index_Param'
        - $ref: '#/components/parameters/report.restated-index_Param'
        - $ref: '#/components/parameters/report.restated_Param'
        - $ref: '#/components/parameters/report.sec-url_Param'
        - $ref: '#/components/parameters/report.sic-code_Param'
        - $ref: '#/components/parameters/report.source-id_Param'
        - $ref: '#/components/parameters/report.source-name_Param'
        - $ref: '#/components/parameters/unit_Param'
        - in: query
          name: fields
          required: true
          style: form
          explode: false
          allowEmptyValue : false
          schema:
            $ref: '#/components/schemas/report_details_with_facts'
            
          description: List of concepts to return.
      responses:
        '200':
          description: __report details__ successfully accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/paging'
                  data:
                    type: array
                    items:
                       $ref: '#/components/schemas/report_details_with_facts'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/bad_token'
        '405':
          $ref: '#/components/responses/method_not_allowed'
        '500':
          $ref: '#/components/responses/internal_server_error'
          
  /api/v1/entity/{entity.id}/report/search:
      summary: Request entity information based on the entity identifier. The entity ID is an internal id used by the API.
      get:
        operationId: getEntityReportDetailsBasedOnID
        tags: [Entity]
        security:
          - bearerAuth: []
        description: >
          Allows searching for _Entities_ based on the entity identifier associated with the reporting entity. Use this to get entity and report information for the known entity.
        parameters:
          - name: entity.id
            in: path
            description: Id of the entity defined by the API.
            required: true
            schema:
              type: integer

          - $ref: '#/components/parameters/report.source-id_Param'
          - $ref: '#/components/parameters/report.source-name_Param'
          - $ref: '#/components/parameters/report.accession_Param'
          - $ref: '#/components/parameters/report.id_Param'
          - $ref: '#/components/parameters/report.document-type_Param'
          - $ref: '#/components/parameters/report.entry-type_Param'
          - $ref: '#/components/parameters/report.entry-url_Param'
          - $ref: '#/components/parameters/report.filer-category_Param'
          - $ref: '#/components/parameters/report.is-most-current_Param'
          - $ref: '#/components/parameters/report.period-index_Param'
          - $ref: '#/components/parameters/report.restated_Param'
          - $ref: '#/components/parameters/report.restated-index_Param'
          - $ref: '#/components/parameters/report.sec-url_Param'
          - $ref: '#/components/parameters/report.sic-code_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/entity_fields'
            description: List of fields to return.
          
          
        responses:
          '200':
            description: __entity report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/entity_details'
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  
  /api/v1/entity/report/search:
      summary: Request facts from XBRL filings based on search parameters.
      get:
        operationId: getEntityReportDetails
        tags: [Entity]
        security:
          - bearerAuth: []
        description: >
          Allows searching for _XBRL reports_ grouped by the entity that filed the report. The API allows searching on the attributes of the entity and the report.
        parameters:
          - $ref: '#/components/parameters/entity.cik_Param'
          - $ref: '#/components/parameters/entity.id_Param'
          - $ref: '#/components/parameters/report.entity-name_Param'
          - $ref: '#/components/parameters/entity.ticker_Param' 
          - $ref: '#/components/parameters/report.source-id_Param'
          - $ref: '#/components/parameters/report.source-name_Param'
          - $ref: '#/components/parameters/report.accession_Param'
          - $ref: '#/components/parameters/report.id_Param'
          - $ref: '#/components/parameters/report.document-type_Param'
          - $ref: '#/components/parameters/report.entry-type_Param'
          - $ref: '#/components/parameters/report.entry-url_Param'
          - $ref: '#/components/parameters/report.filer-category_Param'
          - $ref: '#/components/parameters/report.is-most-current_Param'
          - $ref: '#/components/parameters/report.period-index_Param'
          - $ref: '#/components/parameters/report.restated_Param'
          - $ref: '#/components/parameters/report.restated-index_Param'
          - $ref: '#/components/parameters/report.sec-url_Param'
          - $ref: '#/components/parameters/report.sic-code_Param'
         
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/entity_fields'
            description: List of fields to return.
          
          
        responses:
          '200':
            description: __entity report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/entity_details'
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/entity/{entity.id}:
      summary: Request entity information based on the entity identifier. The entity ID is an internal id used by the API.
      get:
        operationId: getEntityDetailsBasedOnID
        tags: [Entity]
        security:
          - bearerAuth: []
        description: >
          Allows searching for _Entities_ based on the entity identifier associated with the reporting entity. Use this to get ticker or CIK information quickly with a known entity id.
        parameters:
          - name: entity.id
            in: path
            description: Id of the entity defined by the API.
            required: true
            schema:
              type: integer
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/entity_only_fields'
            description: List of fields to return.
          
          
        responses:
          '200':
            description: __entity report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/entity_details'
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
          
  /api/v1/assertion/search:
      summary: Request errors from XBRL filings based on search parameters.
      get:
        operationId: getAssertionDetails
        tags: [Assertions]
        security:
          - bearerAuth: []
        description: >
          Allows searching for errors in _XBRL reports_ based on validation frameworks used by regulators and Data Quality Committees. The API allows searching for errors by report, by error code, sverity of the error etc. .
        parameters:
          - $ref: '#/components/parameters/assertion.code_Param' 
          - $ref: '#/components/parameters/assertion.severity_Param'
          - $ref: '#/components/parameters/assertion.source_Param'
          - $ref: '#/components/parameters/assertion.type_Param'
          - $ref: '#/components/parameters/entity.name_Param'
          - $ref: '#/components/parameters/report.accession_Param'
          - $ref: '#/components/parameters/report.document-type_Param'
          - $ref: '#/components/parameters/report.entry-url_Param'
          - $ref: '#/components/parameters/report.id_Param'
          - $ref: '#/components/parameters/report.sec-url_Param'
          - $ref: '#/components/parameters/report.sic-code_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
              $ref: '#/components/schemas/assertion_fields'
            description: List of fields to return.
          
        responses:
          '200':
            description: __report details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/assertion_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/assertion/validate:
      summary: Request errors from XBRL filings based on search parameters.
      post:
        operationId: validateFiling
        tags: [Assertions]
        security:
          - bearerAuth: []
        description:  Allows a user to submit a zip file of an XBRL instance and associated taxonomy files to the API.  The API returns validation errors based on the validation framework selected. The results can be returned as either JSON or XML.
        requestBody:
          required: true
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  file:
                    type: string
                    format: binary
                  Task:
                    type: string
                    enum: [checkfiling,dqcfiling]
                  format:
                    type: string
                    enum: [xml,json]
                  efm:
                    type: string
                    enum: [strict,pragmatic]
                  Status:
                    type: string
                    default: approved
                    enum: [approved,proposed]
                    
          
        responses:
          '200':
            description: __validation details__ successfully processed
            content:
              application/xml:
                schema:
                  $ref: '#/components/schemas/results'
              application/json:
                schema:
                  $ref: '#/components/schemas/results'
            
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/dts/search:
      summary: Used to search taxonomies (dts) used in filings.  Each dts represents a unique identifier for a collection of taxonomy schema used by .
      get:
        operationId: getDTSDetails
        tags: [DTS]
        security:
          - bearerAuth: []
        description: >
          Allows searching for a dts based on taxonomy name, entry point, hash etc.
        parameters:
          - $ref: '#/components/parameters/dts.entry-point_Param' 
          - $ref: '#/components/parameters/dts.hash_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/dts.taxonomy_Param'
          - $ref: '#/components/parameters/dts.taxonomy-name_Param'
          - $ref: '#/components/parameters/dts.version_Param'
          - $ref: '#/components/parameters/report.accession_Param'
          - $ref: '#/components/parameters/report.id_Param'
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/dts_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/dts_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  
  /api/v1/dts/{dts.id}/concept/search:
      summary: Request errors from XBRL filings based on search parameters.
      get:
        operationId: getConceptDetailsByDTS
        tags: [DTS]
        security:
          - bearerAuth: []
        description: >
          Allows searching for errors in _XBRL reports.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The dts identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - $ref: '#/components/parameters/concept.id_Param' 
          - $ref: '#/components/parameters/concept.local-name_Param'
          - $ref: '#/components/parameters/concept.namespace_Param'
          - $ref: '#/components/parameters/dts.entry-point_Param'
          - $ref: '#/components/parameters/dts.hash_Param'
          - $ref: '#/components/parameters/dts.target-namespace_Param'
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/concept_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/concept_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/dts/{dts.id}/concept/{concept.local-name}:
      summary: Request errors from XBRL filings based on search parameters.
      get:
        operationId: getConceptDetailsByDTSAndLocalName
        tags: [DTS]
        security:
          - bearerAuth: []
        description: >
          Allows searching for errors in _XBRL reports.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The dts identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - name: concept.local-name
            in: path
            required: true
            schema:
              type: string
            description: The concept name in the base schema of a taxonomy exluding the namespace, such as Assets or Liabilities. Use this to search across multiple taxonomies where the local name is known to be consistent over time.
            example: Assets  
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/concept_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/concept_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
                  
  /api/v1/dts/{dts.id}/concept/{concept.local-name}/label:
      summary: Request errors from XBRL filings based on search parameters.
      get:
        operationId: getLabelDetailsByDTSAndLocalName
        tags: [DTS]
        security:
          - bearerAuth: []
        description: >
          Search for references of a given concept in a given DTS.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The dts identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - name: concept.local-name
            in: path
            required: true
            schema:
              type: string
            description: The concept name in the base schema of a taxonomy exluding the namespace, such as Assets or Liabilities. Use this to search across multiple taxonomies where the local name is known to be consistent over time.
            example: Assets  
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/label_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/label_details_search'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'          
  
  /api/v1/dts/{dts.id}/concept/{concept.local-name}/reference:
      summary: Request errors from XBRL filings based on search parameters.
      get:
        operationId: getReferenceDetailsByDTSAndLocalName
        tags: [DTS]
        security:
          - bearerAuth: []
        description: >
          Search for references of a given concept in a given DTS.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The dts identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - name: concept.local-name
            in: path
            required: true
            schema:
              type: string
            description: The concept name in the base schema of a taxonomy exluding the namespace, such as Assets or Liabilities. Use this to search across multiple taxonomies where the local name is known to be consistent over time.
            example: Assets  
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/reference_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/reference_concept_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'              
            
  /api/v1/dts/{dts.id}/network:
      summary: Request network from XBRL filings based on a provided dts.
      get:
        operationId: getNetworkDetailsByDTS
        tags: [DTS]
        security:
          - bearerAuth: []
        description: >
          Request all the networks in a DTS.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The dts identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/network_con_relationship_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/network_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/dts/{dts.id}/network/search:
      summary: Request network details from XBRL filings based on a provided dts.
      get:
        operationId: getNetworkDetailsWithSearchByDTS
        tags: [DTS]
        security:
          - bearerAuth: []
        description: >
          Request all the networks in a DTS.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The dts identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - $ref: '#/components/parameters/network.id_Param' 
          - $ref: '#/components/parameters/network.role-uri_Param'
          - $ref: '#/components/parameters/network.arcrole-uri_Param'
          - $ref: '#/components/parameters/network.link-name_Param'
          - $ref: '#/components/parameters/relationship.id_Param'
          - $ref: '#/components/parameters/relationship.order_Param'
          - $ref: '#/components/parameters/relationship.preferred-label_Param'
          - $ref: '#/components/parameters/relationship.source-concept-id_Param'
          - $ref: '#/components/parameters/relationship.source-name_Param'
          - $ref: '#/components/parameters/relationship.source-namespace_Param'
          - $ref: '#/components/parameters/relationship.target-concept-id_Param'
          - $ref: '#/components/parameters/relationship.target-name_Param'
          - $ref: '#/components/parameters/relationship.target-namespace_Param'
          - $ref: '#/components/parameters/relationship.tree-depth_Param'
          - $ref: '#/components/parameters/relationship.tree-sequence_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/network_con_relationship_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/network_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  
  /api/v1/concept/search:
      summary: Request errors from XBRL filings based on search parameters.
      get:
        operationId: getConceptDetails
        tags: [Concepts]
        security:
          - bearerAuth: []
        description: >
          Allows searching for concept details for a given dts, or across a set of taxonomies. If searching for concept details it highly recomended that a dts identifier is used to limit the concept search. This is specifically the case if returning label data. If no dts is presribed and the details of Assets are requested the API will attempt to return all the labels used for Assets in every single filing made.
        parameters:
          - $ref: '#/components/parameters/concept.id_Param' 
          - $ref: '#/components/parameters/concept.local-name_Param'
          - $ref: '#/components/parameters/concept.namespace_Param'
          - $ref: '#/components/parameters/dts.entry-point_Param'
          - $ref: '#/components/parameters/dts.hash_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/dts.target-namespace_Param'
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/concept_fields' 
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/concept_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/concept/{concept.local-name}/search:
      summary: Request errors from XBRL filings based on search parameters.
      get:
        operationId: getConceptDetailsByName
        tags: [Concepts]
        security:
          - bearerAuth: []
        description: >
          Allows searching for concept details in _XBRL reports.
        parameters:
          - name: concept.local-name
            in: path
            description: The concept name in the base schema of a taxonomy exluding the namespace, such as Assets or Liabilities. Use this to search across multiple taxonomies where the local name is known to be consistent over time.
            required: true
            schema:
              type: string
          - $ref: '#/components/parameters/concept.id_Param' 
          - $ref: '#/components/parameters/concept.local-name_Param'
          - $ref: '#/components/parameters/concept.namespace_Param'
          - $ref: '#/components/parameters/dts.entry-point_Param'
          - $ref: '#/components/parameters/dts.hash_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/dts.target-namespace_Param'
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/concept_fields' 
                
            description: List of concepts to return.
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/concept_details'
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/label/{dts.id}/search:
      summary: Request errors from XBRL filings based on search parameters.
      get:
        operationId: getlabelsBasedOnDTS
        tags: [Labels]
        security:
          - bearerAuth: []
        description: >
          Allows searching for concept details in XBRL reports by dts id.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The dts identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - $ref: '#/components/parameters/label.text_Param'
          - $ref: '#/components/parameters/label.role_Param' 
          - $ref: '#/components/parameters/concept.id_Param' 
          - $ref: '#/components/parameters/concept.local-name_Param'
          - $ref: '#/components/parameters/dts.entry-point_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/label_fields' 
                
            description: List of concepts to return.
          
        responses:
          '200':
            description: __concept details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/label_details_search'
                        
                          
                        
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/label/search:
      summary: Request errors from XBRL filings based on search parameters.
      get:
        operationId: getlabels
        tags: [Labels]
        security:
          - bearerAuth: []
        description: >
          Allows searching for concept details in XBRL reports.
        parameters:
          - name: dts.id
            in: path
            required: true
            schema:
              type: integer
            description: The dts identifier for a given group of taxonomies. XBRL facts and linkbases are typically associated with a given report that is asscociated with a dts.
            example: 321964
          - $ref: '#/components/parameters/label.text_Param'
          - $ref: '#/components/parameters/label.role_Param' 
          - $ref: '#/components/parameters/concept.id_Param' 
          - $ref: '#/components/parameters/concept.local-name_Param'
          - $ref: '#/components/parameters/dts.entry-point_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/label_fields' 
                
            description: List of label fields to return.
          
        responses:
          '200':
            description: __label details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/label_details_search'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/network/{network.id}/relationship/search:
      summary: Request errors from XBRL filings based on search parameters.
      get:
        operationId: getNetworkRelationships
        tags: [Networks]
        security:
          - bearerAuth: []
        description: >
          Allows searching for all the chracteristics and relationships in a specific network and filtering those results based on charateristics of the relationships in the network. 
        parameters:
          - name: network.id
            in: path
            required: true
            schema:
              type: integer
            description: Unique identifier used to identify a specific network. A different identifier is used for networks with the same role but different linkbase types.
            example: 27624452
          - $ref: '#/components/parameters/dts.entry-point_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/network.arcrole-uri_Param'
          - $ref: '#/components/parameters/network.id_Param'
          - $ref: '#/components/parameters/network.link-name_Param'
          - $ref: '#/components/parameters/network.role-uri_Param'
          - $ref: '#/components/parameters/relationship.id_Param'
          - $ref: '#/components/parameters/relationship.order_Param'
          - $ref: '#/components/parameters/relationship.preferred-label_Param'
          - $ref: '#/components/parameters/relationship.source-concept-id_Param'
          - $ref: '#/components/parameters/relationship.source-name_Param'
          - $ref: '#/components/parameters/relationship.source-namespace_Param'
          - $ref: '#/components/parameters/relationship.target-concept-id_Param'
          - $ref: '#/components/parameters/relationship.target-name_Param'
          - $ref: '#/components/parameters/relationship.target-namespace_Param'
          - $ref: '#/components/parameters/relationship.tree-depth_Param'
          - $ref: '#/components/parameters/relationship.tree-sequence_Param'
          
          
          - in: query
            name: fields
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/network_con_relationship_fields' 
                
            description: List of concepts to return.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/network_details'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/network/relationship/search:
      summary: Request networks and relationships from XBRL filings based on search parameters.
      get:
        operationId: getNetworkRelationshipsNoID
        tags: [Networks]
        security:
          - bearerAuth: []
        description: >
          Allows searching for a specific network based on network and relationship chracteristics.
        parameters:
          - $ref: '#/components/parameters/dts.entry-point_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/network.arcrole-uri_Param'
          - $ref: '#/components/parameters/network.id_Param'
          - $ref: '#/components/parameters/network.link-name_Param'
          - $ref: '#/components/parameters/network.role-uri_Param'
          - $ref: '#/components/parameters/relationship.id_Param'
          - $ref: '#/components/parameters/relationship.order_Param'
          - $ref: '#/components/parameters/relationship.preferred-label_Param'
          - $ref: '#/components/parameters/relationship.source-concept-id_Param'
          - $ref: '#/components/parameters/relationship.source-name_Param'
          - $ref: '#/components/parameters/relationship.source-namespace_Param'
          - $ref: '#/components/parameters/relationship.target-concept-id_Param'
          - $ref: '#/components/parameters/relationship.target-name_Param'
          - $ref: '#/components/parameters/relationship.target-namespace_Param'
          - $ref: '#/components/parameters/relationship.tree-depth_Param'
          - $ref: '#/components/parameters/relationship.tree-sequence_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/network_con_relationship_fields' 
                
            description: List of concepts to return.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/network_details'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
            
  /api/v1/network/{network.id}:
      summary: Request networks  from XBRL filings based on search parameters.
      get:
        operationId: getNetworkOnID
        tags: [Networks]
        security:
          - bearerAuth: []
        description: >
          Returns the characteristics of a specific network. This does not include the relationships. Use the endpoint /api/v1/network/{network.id}/relationship/search to get relationship information about the network.
        parameters:
          - name: network.id
            in: path
            required: true
            schema:
              type: integer
            description: Unique identifier used to identify a specific network. A different identifier is used for networks with the same role but different linkbase types.
            example: 27624452
          
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/network_fields' 
                
            description: List of concepts to return.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/network_only_details'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'
  
  /api/v1/relationship/search:
      summary: Request networks and relationships from XBRL filings based on search parameters.
      get:
        operationId: getRelationships
        tags: [Relationships]
        security:
          - bearerAuth: []
        description: >
          Allows searching for a specific set of  relationships based on characteristics of the relationship.
        parameters:
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/network.arcrole-uri_Param'
          - $ref: '#/components/parameters/network.id_Param'
          - $ref: '#/components/parameters/network.link-name_Param'
          - $ref: '#/components/parameters/network.role-uri_Param'
          - $ref: '#/components/parameters/relationship.id_Param'
          - $ref: '#/components/parameters/relationship.order_Param'
          - $ref: '#/components/parameters/relationship.preferred-label_Param'
          - $ref: '#/components/parameters/relationship.source-concept-id_Param'
          - $ref: '#/components/parameters/relationship.source-name_Param'
          - $ref: '#/components/parameters/relationship.source-namespace_Param'
          - $ref: '#/components/parameters/relationship.target-concept-id_Param'
          - $ref: '#/components/parameters/relationship.target-name_Param'
          - $ref: '#/components/parameters/relationship.target-namespace_Param'
          - $ref: '#/components/parameters/relationship.tree-depth_Param'
          - $ref: '#/components/parameters/relationship.tree-sequence_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/relationship_fields' 
                
            description: List of concepts to return.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/relationship_details_search'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'     
            
  /api/v1/relationship/tree/search:
      summary: Request networks and relationships from XBRL filings based on search parameters.
      get:
        operationId: getRelationshipsAsTree
        tags: [Relationships]
        security:
          - bearerAuth: []
        description: >
          Allows searching for a specific set of  relationships based on characteristics of the relationship and returning the data as a tree in different formats.
        parameters:
          - $ref: '#/components/parameters/dts.id_Param'
          - $ref: '#/components/parameters/network.arcrole-uri_Param'
          - $ref: '#/components/parameters/network.id_Param'
          - $ref: '#/components/parameters/network.link-name_Param'
          - $ref: '#/components/parameters/network.role-uri_Param'
          - $ref: '#/components/parameters/relationship.id_Param'
          - $ref: '#/components/parameters/relationship.order_Param'
          - $ref: '#/components/parameters/relationship.preferred-label_Param'
          - $ref: '#/components/parameters/relationship.source-concept-id_Param'
          - $ref: '#/components/parameters/relationship.source-name_Param'
          - $ref: '#/components/parameters/relationship.source-namespace_Param'
          - $ref: '#/components/parameters/relationship.target-concept-id_Param'
          - $ref: '#/components/parameters/relationship.target-name_Param'
          - $ref: '#/components/parameters/relationship.target-namespace_Param'
          - $ref: '#/components/parameters/relationship.tree-depth_Param'
          - $ref: '#/components/parameters/relationship.tree-sequence_Param'
          - in: query
            name: format
            schema:
                type: string
                enum: [flat,fancytree,standard] 
            example: standard
            description: >
                Allows the list of relations hips to be returned in a tree format or be flat. Select from the following
                  * flat: Returns a list of relationship pairs. 
                  * standard: Returns as a standard tree. (No paging data is returned)
                  * fancytree: Returns a network tree in the format for the fancytree javasript format. (No paging data is returned so that the results can go straight into a fancy tree object)
                
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/relationship_fields' 
                
            description: List of concepts to return.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/relationship_details_search'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'          
  
  /api/v1/document/search:
      summary: Request networks and relationships from XBRL filings based on search parameters.
      get:
        operationId: getDocumentInfo
        tags: [Documents]
        security:
          - bearerAuth: []
        description: >
          Allows searching for XBRL documents and their content.
        parameters:
          - $ref: '#/components/parameters/document.top-level_Param'
          - $ref: '#/components/parameters/document.uri_Param'
          - $ref: '#/components/parameters/dts.id_Param'
          
          - in: query
            name: fields
            required: true
            style: form
            explode: false
            allowEmptyValue : false
            schema:
                 $ref: '#/components/schemas/document_fields' 
                
            description: List of concepts to return.
          
        responses:
          '200':
            description: __network details__ successfully accepted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/paging'
                    data:
                        type: array
                        items:
                           $ref: '#/components/schemas/document_details'
                     
          '400':
            $ref: '#/components/responses/bad_request'
          '401':
            $ref: '#/components/responses/bad_token'
          '405':
            $ref: '#/components/responses/method_not_allowed'
          '500':
            $ref: '#/components/responses/internal_server_error'   
                                
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: /oauth2/token
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    
  schemas:
    authorization_grant:
      type: object
      required: [grant_type, client_id, client_secret]
      properties:
        grant_type:
          type: string
          example: password
          description: >
            Used to identify which credentials the authorization server needs to check
              * `client_credentials` - Requires a client_id and client_secret only
              * `password` - Requires a username and password as well as client_id and client_secret
        client_id:
          type: string
          example: XBRL US
          description: Unique identifier agreed upon by **XBRL US** and the 3rd party client
        client_secret:
          type: string
          example: xhOEnAX2M...gaIYLXOvCe25Q
          format: byte
          description: Base64 key used to authenticate the 3rd party client
        username:
          type: string
          example: campbell.pryde@xbrl.us
          description: Unique identifier for a given user
        password:
          type: string
          example: someSecurePassword
          description: Password used to authenticate the 3rd party user
        platform:
          type: string
          example: pc
          description: just required
    error_message:
      type: object
      properties:
        errors:
          type: string
          description: Identifier for the error
        error_description:
          type: string
          description: Adds more details to the error
    paging:
      type: object
      properties: 
        limit:
          type: integer
          example: 1000
        offset:
          type: integer
          example: -1
        count:
          type: integer
          example: 1
    dimensions:
      type: object
      properties:
        dimension_namespace: 
          type: string
        dimension_local_name: 
          type: string
        member_namespace: 
          type: string
        member_local_name: 
          type: string
    facts_oim_json:
      type: object
      additionalProperties:
        type: object
        properties:
          value:
            type: string
          accuracy:
            type: integer
      example:
        xfd233befbacbc83e43d510ae01866384c65f23a60482caaa20331642: {"value": "151000",
      "accuracy": -3,
      "aspects": {
        "concept": "p2:AdjustmentsToAdditionalPaidInCapitalStockIssuedIssuanceCosts",
        "entity": "p3:0001512228",
        "period": "2015-07-01T00:00:00/2016-07-01T00:00:00",
        "unit": "p1:USD",
        "p2:StatementEquityComponentsAxis": "p2:CommonStockMember"}
        }
    documentInfo_oim_json:
      type: object
      properties:
        documentType:
          type: string
          example: http://www.xbrl.org/WGWD/YYYY-MM-DD/xbrl-json
        features:
          type: object
          properties:
            xbrl:canonicalValues: 
              type: boolean
        prefixes:
          type: object
          additionalProperties:
            type: string
          example:
            xbrl: "http://www.xbrl.org/WGWD/YYYY-MM-DD/oim"
            p1: "http://www.xbrl.org/2003/iso4217"
            p2: "http://fasb.org/us-gaap/2016-01-31"
            p3: "http://www.sec.gov/CIK"
            p4: "http://www.xbrl.org/2003/instance"
            p5: "http://niocorp.com/20161231"
            p6: "http://xbrl.sec.gov/currency/2016-01-31"
            p7: "http://xbrl.sec.gov/dei/2014-01-31"
        taxonomy:
          type: array
          items:
            type: string
            example: 
              "http://www.sec.gov/Archives/edgar/data/1512228/000161577417000360/niobf-20161231.xsd"

    
    assertion_fields:
      type: array
      items:
        type: string
        enum: [
              assertion.detail
              ,assertion.effective_date
              ,assertion.rule_focus
              ,assertion.run-date
              ,assertion.severity
              ,assertion.source
              ,assertion.type
              ,entity.name
              ,report.accepted-timestamp
              ,report.accession
              ,report.base-taxonomy
              ,report.creation-software
              ,report.document-type
              ,report.entry-url
              ,report.filing-date
              ,report.id
              ,report.sec-url
              ,report.sic-code
              ]
     
    concept_fields:
      type: array
      items:
        type: string
        enum: [
              concept.balance-type
              ,concept.datatype
              ,concept.id
              ,concept.is-abstract
              ,concept.is-monetary
              ,concept.is-nillable
              ,concept.is-numeric
              ,concept.local-name
              ,concept.namespace
              ,concept.period-type
              ,concept.substitution
              ,dts.id
              ,dts.entry-point
              ,dts.hash
              ,dts.target-namespace
              ,concept.*
              ,label.id
              ,label.text
              ,label.lang
              ,label.role
              ,label.role-short
              ,label.*
              ,reference.role
              ,reference.role-definition
              ,reference.role-short
              ,reference.*
              ,parts.local-name
              ,parts.namespace
              ,parts.order
              ,parts.part-value
              ,reference.id
              ,parts.*] 
              
    document_fields:
      type: array
      items:
        type: string
        enum: [
              document.top-level
              ,document.tree-level
              ,document.tree-order
              ,document.type
              ,document.uri
              ,dts.id
              ,document.*
              ]
          
    dts_fields:
      type: array
      items:
        type: string
        enum: [
              dts.entity-name
              ,dts.hash
              ,dts.id
              ,dts.entry-point
              ,dts.taxonomy
              ,dts.taxonomy-name
              ,dts.version
              ,report.accession
              ,report.id
              ,dts.*
              ]
    entity_only_fields:
      type: array
      items:
        type: string
        enum: [entity.cik
              ,entity.id
              ,entity.name
              ,entity.scheme
              ,entity.ticker
              ,entity.*
              ]
    entity_fields:
      type: array
      items:
        type: string
        enum: [entity.cik
              ,entity.id
              ,entity.name
              ,entity.scheme
              ,entity.ticker
              ,dts.id
              ,report.accepted-timestamp
              ,report.accession
              ,report.address
              ,report.base-taxonomy
              ,report.creation-software
              ,report.document-type
              ,report.entity-name
              ,report.entry-type
              ,report.entry-url
              ,report.filer-category
              ,report.filing-date
              ,report.id
              ,report.is-most-current
              ,report.period-end
              ,report.period-index
              ,report.phone
              ,report.properties
              ,report.restated
              ,report.restated-index
              ,report.sec-url
              ,report.sic-code
              ,report.source-id
              ,report.source-name
              ,report.state-of-incorporation
              ,entity.*
              ,report.*
              ]
              
    fact_fields:
      type: array
      items:
        type: string
        default: fact.*
        enum: [
              concept.balance-type
              ,concept.datatype
              ,concept.id
              ,concept.is-base
              ,concept.is-monetary
              ,concept.local-name
              ,concept.namespace
              ,concept.period-type
              ,dimension.is-base
              ,dimension.local-name
              ,dimension.namespace
              ,dimensions
              ,dimensions.count
              ,dimensions.id
              ,dts.entry-point
              ,dts.id
              ,dts.target-namespace
              ,entity.cik
              ,entity.id
              ,entity.name
              ,entity.scheme
              ,fact.decimals
              ,fact.has-dimensions
              ,fact.hash
              ,fact.id
              ,fact.inline-display-value
              ,fact.inline-is-hidden
              ,fact.inline-negated
              ,fact.inline-scale
              ,fact.is-extended
              ,fact.numerical-value
              ,fact.ultimus
              ,fact.ultimus-index
              ,fact.value
              ,fact.xml-id
              ,member.is-base
              ,member.local-name
              ,member.namespace
              ,period.calendar-period
              ,period.end
              ,period.fiscal-id
              ,period.fiscal-period
              ,period.fiscal-year
              ,period.id
              ,period.instant
              ,period.start
              ,period.year
              ,report.accession
              ,report.creation-software
              ,report.entry-url
              ,report.filing-date
              ,report.id
              ,report.period-end
              ,report.restated
              ,report.restated-index
              ,report.sec-url
              ,report.sic-code
              ,report.source-id
              ,report.source-name
              ,report.type
              ,unit
              ,unit.denominator
              ,unit.numerator
              ,unit.qname
              ,fact.*]

    label_fields:
      type: array
      items:
        type: string
        enum: [
              concept.id
              ,concept.local-name
              ,concept.namespace
              ,dts.id
              ,dts.entry-point
              ,label.id
              ,label.text
              ,label.lang
              ,label.role
              ,label.role-short
              ,label.*
              ]
    network_fields:
      type: array
      items:
        type: string
        default: fact.*
        enum: [
              dts.entry-point
              ,dts.id
              ,network.arcrole-uri
              ,network.id
              ,network.link-name
              ,network.role-description
              ,network.role-uri
              ]
              
    network_con_relationship_fields:
      type: array
      items:
        type: string
        default: fact.*
        enum: [
              dts.entry-point
              ,dts.id
              ,network.arcrole-uri
              ,network.id
              ,network.link-name
              ,network.role-description
              ,network.role-uri
              ,relationship.id
              ,relationship.order
              ,relationship.preferred-label
              ,relationship.source-concept-id
              ,relationship.source-is-abstract
              ,relationship.source-name
              ,relationship.source-namespace
              ,relationship.target-concept-id
              ,relationship.target-datatype
              ,relationship.target-is-abstract
              ,relationship.target-name
              ,relationship.target-namespace
              ,relationship.tree-depth
              ,relationship.tree-sequence
              ,relationship.weight
              ]
              
    reference_fields:
      type: array
      items:
        type: string
        enum: [
              concept.id
              ,concept.local-name
              ,concept.namespace
              ,dts.id
              ,dts.entry-point
              ,reference.id
              ,reference.role
              ,reference.role-definition
              ,reference.role-short
              ,reference.*
              ,parts.local-name
              ,parts.namespace
              ,parts.order
              ,parts.part-value
              ,parts.*
              ] 
              
    relationship_fields:
      type: array
      items:
        type: string
        default: fact.*
        enum: [
              dts.id
              ,network.arcrole-uri
              ,network.id
              ,network.link-name
              ,network.role-description
              ,network.role-uri
              ,relationship.id
              ,relationship.order
              ,relationship.preferred-label
              ,relationship.source-concept-id
              ,relationship.source-is-abstract
              ,relationship.source-name
              ,relationship.source-namespace
              ,relationship.target-concept-id
              ,relationship.target-datatype
              ,relationship.target-is-abstract
              ,relationship.target-name
              ,relationship.target-namespace
              ,relationship.tree-depth
              ,relationship.tree-sequence
              ,relationship.weight
              ]
              
    report_fields:
      type: array
      items:
        type: string
        default: report.*
        enum: [
              entity.cik
              ,entity.id
              ,entity.ticker
              ,dts.id
              ,report.accepted-timestamp
              ,report.accession
              ,report.address
              ,report.base-taxonomy
              ,report.creation-software
              ,report.document-type
              ,report.entity-name
              ,report.entry-type
              ,report.entry-url
              ,report.filer-category
              ,report.filing-date
              ,report.id
              ,report.is-most-current
              ,report.period-end
              ,report.period-index
              ,report.phone
              ,report.properties
              ,report.restated
              ,report.restated-index
              ,report.sec-url
              ,report.sic-code
              ,report.source-id
              ,report.source-name
              ,report.state-of-incorporation
              ,report.*
              ]
              
    report_and_fact_fields:
      type: array
      items:
        type: string
        default: fact.*
        enum: [
              concept.balance-type
              ,concept.datatype
              ,concept.id
              ,concept.is-base
              ,concept.is-monetary
              ,concept.local-name
              ,concept.namespace
              ,concept.period-type
              ,dimension.is-base
              ,dimension.local-name
              ,dimension.namespace
              ,dimensions
              ,dimensions.count
              ,dimensions.id
              ,dts.entry-point
              ,dts.id
              ,dts.target-namespace
              ,entity.cik
              ,entity.id
              ,entity.name
              ,entity.scheme
              ,fact.decimals
              ,fact.has-dimensions
              ,fact.hash
              ,fact.id
              ,fact.inline-display-value
              ,fact.inline-is-hidden
              ,fact.inline-negated
              ,fact.inline-scale
              ,fact.is-extended
              ,fact.numerical-value
              ,fact.ultimus
              ,fact.ultimus-index
              ,fact.value
              ,fact.xml-id
              ,member.is-base
              ,member.local-name
              ,member.namespace
              ,period.calendar-period
              ,period.end
              ,period.fiscal-id
              ,period.fiscal-period
              ,period.fiscal-year
              ,period.id
              ,period.instant
              ,period.start
              ,period.year
              ,report.accepted-timestamp
              ,report.accession
              ,report.address
              ,report.base-taxonomy
              ,report.creation-software
              ,report.document-type
              ,report.entity-name
              ,report.entry-type
              ,report.entry-url
              ,report.filer-category
              ,report.filing-date
              ,report.id
              ,report.is-most-current
              ,report.period-end
              ,report.period-index
              ,report.phone
              ,report.properties
[...]
