<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}
<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
<a href="https://xbrl.us" target="_blank"><img src="{{ "https://avatars1.githubusercontent.com/u/11542306?v=3&s=200" }}"  style="border:1px solid #e2e2e2;max-width:120px; height:auto;" alt="XBRL US is the national consortium for the business reporting standard." /></a>
                </div>
            </div>
</footer>
